@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Thông tin cơ sở giáo dục (CSGD) gồm 9 bảngg</h1>


<a href="/CoCauToChuc">Cơ Cấu Tổ Chức</a>
<br />
<hr />

<a href="/CoSoGiaoDuc">Cơ Sở Giáo Dục</a>
<br />
<hr />


<a href="/DanhHieuThiDuaGiaiThuongKhenThuongCuaCoSoGd">Danh Hiệu Thi đua Giải Thưởng, Khen Thưởng Của Cơ Sở Giáo Dục</a>
<br />
<hr />


<a href="/DauMoiLienHe">Đầu Mối Liên Hệ</a>
<br />
<hr />

<a href="/DonViLienKetDaoTaoGiaoDuc">Đơn Vị Liên Kết Đào Tạo Giáo Dục</a>
<br />
<hr />


<a href="/KhoaHoc">Khoa Học</a>
<br />
<hr />


<a href="/LichSuDoiTenTruong">Lịch Sử Đổi Tên Trường</a>
<br />
<hr />


<a href="/ToChucKiemDinh">Tổ chức Kiểm Định</a>
<br />
<hr />

<a href="/VanBanTuChu">Văn Bản Từ Chữ</a>
<br />
<hr />


