@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="padding: 16px; margin-bottom: 16px; color: lavenderblush; font-size: 60px">CƠ SỞ GIÁO DỤC</h1>
    <h1 style="padding: 16px; margin-bottom: 16px; color: lavenderblush; font-size: 30px">Nhóm 6-B9D55</h1>
</div>

<style>
    main {
        border: 2px solid;
        border-radius: 5%;
        background-color: cadetblue;
    }

    .link {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        transition: transform 0.5s ease;
        font-size: 25px;
    }

    .list:hover {
        transform: scale(1.1);
        color: black;
    }

    .link:hover {
        color: black;
    }

    .list {
        display: flex;
        align-items: center; /* Căn giữa theo chiều dọc */
        margin-bottom: 20px; /* Khoảng cách giữa các hàng */
        padding: 0 65px;
    }

    .so {
        background-color: #2e3d3b; /* Màu xanh cho ô số */
        color: white;
        padding: 36px 80px;
        text-align: center;
        width: 50px; /* Độ rộng của ô xanh */
        height: 50px; /* Chiều cao của ô xanh */
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        font-size: 1.5rem;
        border-radius: 10px;
    }

    .lien-ket {
        background-color: #e8f4f2; /* Màu nền cho thanh dài */
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 0 15px 15px 0;
    }

</style>

<h1 style="margin-bottom: 16px; text-align: center; color: lavenderblush;">Thông tin cơ sở giáo dục (CSGD) gồm 9 bảng</h1>

<div class="list">
    <div class="so">
        1
    </div>
    <div class="lien-ket">
        <a class="link" href="/CoCauToChuc">Cơ Cấu Tổ Chức</a>
    </div>
</div>

<div class="list">
    <div class="so">
        2
    </div>
    <div class="lien-ket">
        <a class="link" href="/CoSoGiaoDuc">Cơ Sở Giáo Dục</a>
    </div>
</div>

<div class="list">
    <div class="so">
        3
    </div>
    <div class="lien-ket">
        <a class="link" href="/DanhHieuThiDuaGiaiThuongKhenThuongCuaCoSoGd">Danh Hiệu Thi đua Giải Thưởng, Khen Thưởng Của Cơ Sở Giáo Dục</a>
    </div>
</div>

<div class="list">
    <div class="so">
        4
    </div>
    <div class="lien-ket">
        <a class="link" href="/DauMoiLienHe">Đầu Mối Liên Hệ</a>
    </div>
</div>

<div class="list">
    <div class="so">
        5
    </div>
    <div class="lien-ket">
        <a class="link" href="/DonViLienKetDaoTaoGiaoDuc">Đơn Vị Liên Kết Đào Tạo Giáo Dục</a>
    </div>
</div>

<div class="list">
    <div class="so">
        6
    </div>
    <div class="lien-ket">
        <a class="link" href="/KhoaHoc">Khóa Học</a>
    </div>
</div>

<div class="list">
    <div class="so">
        7
    </div>
    <div class="lien-ket">
        <a class="link" href="/LichSuDoiTenTruong">Lịch Sử Đổi Tên Trường</a>
    </div>
</div>

<div class="list">
    <div class="so">
        8
    </div>
    <div class="lien-ket">
        <a class="link" href="/ToChucKiemDinh">Tổ chức Kiểm Định</a>
    </div>
</div>

<div class="list">
    <div class="so">
        9
    </div>
    <div class="lien-ket">
        <a class="link" href="/VanBanTuChu">Văn Bản Từ Chữ</a>
    </div>
</div>
