@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cơ sở vật chất</title>
    <style>
        body {
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            background-image: linear-gradient(to right, rgb(124, 182, 191), rgb(200, 223, 227), #ffff);
            background-size: cover;
            background-position: center;
        }

        .wrapper {
            background: transparent;
            border: 2px solid rgba(255,255,255,.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            padding: 30px 40px;
        }

            .wrapper .button-csvc {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

        .button-csvc {
            padding-top: 25px;
        }

        .h1 {
            font-size: 50px;
            font-weight: 500;
            color: black;
        }

        .button-csvc .link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 500px;
            width: 100%;
            background-color: #fff;
            border-radius: 24px;
            padding: 25px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            margin-right: 20px;
            font-size: 22px;
            font-weight: 500;
            color: black;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1 align="center">THÔNG TIN CƠ SỞ VẬT CHẤT </h1>
        <div class="button-csvc">
            <a href="/DatDai" class="link">Đất Đai</a>
            <hr />

            <a href="/PhongHocGiangDuongHoiTruong" class="link">Phòng Học, Giảng Đường, Hội Trường</a>
            <hr />

            <a href="/KiTucXa" class="link">Kí Túc Xá</a>
            <hr />

            <a href="/CongTrinhCoSoVatChat" class="link">Công Trình Cơ Sở Vật Chất</a>
            <hr />

            <a href="/PhongThiNghiem" class="link">Phòng Thí Nghiệm</a>
            <hr />

            <a href="/PhongThucHanh" class="link">Phòng Thực Hành</a>
            <hr />

            <a href="/ThietBiPtnThtren500Tr" class="link">Thiết Bị Phòng</a>
            <hr />
            <a href="/TbThuVienTrungTamHocLieux" class="link">Thư Viện Trung Tâm Học Liệu
                </a>
                <hr />
        </div>

    </div>
</body>
</html>