@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cơ sở vật chất</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }

        a1 {
            display: block;
            padding: 10px;
            background: aqua;
            color: #fff;
            text-align: center;
            text-decoration: none;
            margin-bottom: 10px;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1 align="center">Thông tin cơ sở vật chất</h1>

      <a1>  <a href="/DatDai">Đất Đai</a> </a1>
        <hr />

        <a1>  <a href="/PhongHocGiangDuongHoiTruong">Phòng Học, Giảng Đường, Hội Trường</a> </a1>
        <hr />

        <a1>   <a href="/KiTucXa">Kí Túc Xá</a> </a1>
        <hr />

        <a1> <a href="/CongTrinhCoSoVatChat">Công Trình Cơ Sở Vật Chất</a> </a1>
        <hr />

        <a1>  <a href="/PhongThiNghiem">Phòng Thí Nghiệm</a> </a1>
        <hr />

        <a1>   <a href="/PhongThucHanh">Phòng Thực Hành</a> </a1>
        <hr />

        <a1>  <a href="/ThietBiPtnThtren500Tr">Thiết Bị Phòng</a> </a1>
        <hr />
    </div>
</body>
</html>
