@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/CTDT.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>CHƯƠNG TRÌNH ĐÀO TẠO</h1>
                <!-- <p class="tieude">(CTDT) Gồm 6 Bảng</p>-->
            </div>
            <div class="col-md-6">
                <ul class="the">
                    <li>
                        <a href="/ChuongTrinhDaoTao">
                            <div class="list">
                                <p>Chương trình đào tạo</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="GiaHanChuongTrinhDaoTao">
                            <div class="list">
                                <p>Gia Hạn Chương Trình Đào Tạo</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="NamApDungChuongTrinh">
                            <div class="list">
                                <p>Nắm Áp Dụng Chương Trình</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="NgonNguGiangDay">
                            <div class="list">
                                <p>Ngôn Ngữ Giảng Dạy</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="QuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai">
                            <div class="list">
                                <p>Quyết Định Cấp Phép Chương Trình Dùng Cho Chương Trình Nước Ngoài</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/ThongTinKiemDinhChuongTrinh">
                            <div class="list">
                                <p>Thông Tin Kiểm Định Của Chương Trình</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

