@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Thông tin chương trình đào tạo (CTDT) gồm 6 bảng</h1>


<a href="/ChuongTrinhDaoTao">Chương trình đào tạo</a>
<br />
<hr />

<a href="/GiaHanChuongTrinhDaoTao">Gia Hạn Chương Trình Đào Tạo</a>
<br />
<hr />


<a href="/NamApDungChuongTrinh">NĂm Áp Dụng Chương Trình</a>
<br />
<hr />


<a href="/NgonNguGiangDay">Ngôn Ngữ Giảng Dạy </a>
<br />
<hr />

<a href="/QuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai">Quyết Định Cấp Phép Chương Trình Dùng Cho Chương Trình Nước Ngoài </a>
<br />
<hr />


<a href="/ThongTinKiemDinhCuaChuongTrinh">Thông Tin Kiểm Định Của Chương Trình</a>
<br />
<hr />


