@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Thông tin hợp tác quốc tế (HTQT, HTDN) gồm 10 bảng</h1>

<a href="/Nguoi/Index">CSDL người</a>
<br />

<a href="/CanBo/Index">Thông tin cán bộ</a>
<br />
<a href="/CanBoHuongDanThanhCongSinhVien">Cán bộ hướng dẫn sinh viên</a>
<br />

<a href="/QuaTrinhCongTacCuaCanBo">QuaTrinhCongTacCuaCanBo</a>
<br />

<a href="/QuaTrinhDaoTaoCuaCanBo">QuaTrinhDaoTaoCuaCanBo</a>
<br />

<a href="/TrinhDoTiengDanToc">TrinhDoTiengDanToc</a>
<br />

<a href="/ChucDanhKhoaHocCuaCanBo">ChucDanhKhoaHocCuaCanBo</a>
<br />

<a href="/DanhGiaXepLoaiCanBo">DanhGiaXepLoaiCanBo</a>
<br />

<a href="/DanhHieuThiDuaGiaiThuongKhenThuongCanBo">DanhHieuThiDuaGiaiThuongKhenThuongCanBo</a>
<br />

<a href="/DienBienLuong">DienBienLuong</a>
<br />

<a href="/DoiTuongChinhSachCanBo">DoiTuongChinhSachCanBo</a>
<br />

<a href="/DonViCongTacCuaCanBo">DonViCongTacCuaCanBo</a>
<a href="/"></a>
<a href="/"></a>
<a href="/"></a>
<a href="/"></a>
<a href="/"></a>
