@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Thông tin hợp tác quốc tế (HTQT, HTDN) gồm 10 bảng</h1>

<a href="/TbToChucHopTacQuocTes/Index"> Tổ chức hợp tác quốc tế</a>
<br />

<a href="/TbThongTinHopTacs/Index">Thông tin hợp tác với tổ chức</a>
<br />
<a href="/TbHoiThaoHoiNghis">Hội thảo/ Hội nghị</a>
<br />

<a href="/TbDeAnDuAnChuongTrinhs/Index">Đề án/ Dự án/ Chương trình</a>
<br />

<a href="/TbLuuHocSinhSinhVienNns/Index">LƯU HỌC SINH, SINH VIÊN NƯỚC NGOÀI			</a>
<br />

<a href="/TbGvduocCuDiDaoTaos">         GIẢNG VIÊN ĐƯỢC CỬ ĐI ĐÀO TẠO		</a>
<br />

<a href="/TbDoanCongTacs/Index">ĐOÀN CÔNG TÁC	</a>
<br />

<a href="/TbThanhPhanThamGiaDoanCongTacs/Index">THÀNH PHẦN THAM GIA ĐOÀN CÔNG TÁ	</a>
<br />

<a href="/"></a>
<a href="/"></a>
<a href="/"></a>
<a href="/"></a>
