@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/CB">Cán bộ (CB) </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/htqt">Hợp tác quốc tế (HTQT, HTDN) </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/KHCN">khoa học công nghệ</a>
                        </li

                         <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/NH">người học </a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/CSVC">cơ sở vật chất </a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/CSGD">cơ sở giáo dục </a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/CTDT">chương trình đào tạo </a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/TCTS">tài chính </a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/TS">tuyển sinh </a>
                        </li

                          <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/VB">Văn bằng</a>
                        </li>


                         <li class="nav-item">
                            <a class="nav-link text-dark" href=""></a>
                        </li>


                    </ul>