@section Styles{
    <style type="text/css">
        a:link { 
            text-decoration: none; 
        }
    </style>
}
    <div class="m-0 card" style="margin-top:30px !important; border: none!important">
        <div class="card">
            <div class="card-body m-0">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3">
                        <div class="col-12 col-sm-12 col-md-12 mb-3" id="divCB"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-9">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 mb-3" id="divHTQT"></div>
                            <div class="col-12 col-sm-12 col-md-4 mb-3" id="divCSVC"></div>
                            <div class="col-12 col-sm-12 col-md-4 mb-3" id="divCSGD"></div>
                            <div class="col-12 col-sm-12 col-md-4 mb-3" id="divKHCN"></div>
                            <div class="col-12 col-sm-12 col-md-4 mb-3" id="divNH"></div>
                            <div class="col-12 col-sm-12 col-md-4 mb-3" id="divCTDT"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3">
                        <div class="col-12 col-sm-12 col-md-12 mb-3" id="divTC"></div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-9">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 mb-3" id="divTS"></div>
                            <div class="col-12 col-sm-12 col-md-4 mb-3" id="divVB"></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    
@section Scripts{
    <script type="text/javascript">
        // Dữ liệu các liên kết Cán bộ
        var linkDataCB = [
            { title: "CSDL người 821-A", url: "/Nguoi/Index" },
            { title: "Cán bộ", url: "/CanBo/Index" },
            { title: "Cán bộ hướng dẫn sinh viên", url: "/CanBoHuongDanThanhCongSinhVien" },
            { title: "Quá trình công tác của cán bộ", url: "/QuaTrinhCongTacCuaCanBo" },
            { title: "Quá trình đào tạo của cán bộ", url: "/QuaTrinhDaoTaoCuaCanBo" },
            { title: "Trình độ tiếng dân tộc", url: "/TrinhDoTiengDanToc" },
            { title: "Chức danh khoa học của cán bộ -C", url: "/ChucDanhKhoaHocCuaCanBo" },
            { title: "Đánh giá xếp loại cán bộ", url: "/DanhGiaXepLoaiCanBo" },
            { title: "Danh hiệu thi đua và khen thưởng", url: "/DanhHieuThiDuaGiaiThuongKhenThuongCanBo" },
            { title: "Diễn biến lương", url: "/DienBienLuong" },
            { title: "Đối tượng chính sách cán bộ", url: "/DoiTuongChinhSachCanBo" },
            { title: "Đơn vị công tác của cán bộ", url: "/DonViCongTacCuaCanBo" },
            { title: "Đơn vị thỉnh giảng của cán bộ", url: "/DonViThinhGiangCuaCanBo" },
            { title: "Giảng viên ngoại ngữ", url: "/GiangVienNn" },
            { title: "Giáo viên quốc phòng an ninh", url: "/GiaoVienQpan" },
            { title: "Hợp đồng", url: "/HopDong" },
            { title: "Hợp đồng thỉnh giảng", url: "/HopDongThinhGiang" },
            { title: "Khóa bồi dưỡng, tập huấn của cán bộ", url: "/KhoaBoiDuongTapHuanThamGiaCuaCanBo" },
            { title: "Kỷ luật cán bộ", url: "/KyLuatCanBo" },
            { title: "Lĩnh vực nghiên cứu của cán bộ", url: "/LinhVucNghienCuuCuaCanBo" },
            { title: "Ngành dùng tên giảng dạy", url: "/NganhDungTenGiangDay" },
            { title: "Ngành giảng dạy của cán bộ", url: "/NganhGiangDayCuaCanBo" },
            { title: "Phụ cấp 902-", url: "/PhuCap" }
        ];

        // Dữ liệu cho Hợp tác quốc tế (HTQT)
        var linkDataHTQT = [
            { title: "Tổ chức hợp tác quốc tế 817-", url: "/TbToChucHopTacQuocTes" },
            { title: "Thông tin hợp tác với tổ chức 915-", url: "/TbThongTinHopTacs" },
            { title: "Hội thảo/ Hội nghị 814", url: "/TbHoiThaoHoiNghis" },
            { title: "Đề án/ Dự án/ Chương trình 819", url: "/TbDeAnDuAnChuongTrinhs" },
            { title: "Lưu học sinh, sinh viên nước ngoài 820-", url: "/TbLuuHocSinhSinhVienNns" },
            { title: "Giảng viên được cử đi đào tạo 917-", url: "/TbGvduocCuDiDaoTaos" },
            { title: "Đoàn công tác 901-", url: "/TbDoanCongTacs" },
            { title: "Thành phần tham gia đoàn công tác 810-", url: "/TbThanhPhanThamGiaDoanCongTacs" },
            { title: "Tổ chức hợp tác doanh nghiệp", url: "/TbToChucHopTacDoanhNghieps" }
        ];

        // Dữ liệu cho Khoa học công nghệ (KHCN)
        var linkDataKHCN = [
            { title: "Bài báo KH đã công bố 919-", url: "/BaiBaoKhdaCongBo" },
            { title: "Chuyển giao công nghệ và đào tạo 923-", url: "/ChuyenGiaoCongNgheVaDaoTao" },
            { title: "Doanh Nghiệp KHCN", url: "/DoanhNghiepKhcn" },
            { title: "Đối tượng tham gia 802-", url: "/DoiTuongThamGium" },
            { title: "Giải thưởng khoa học", url: "/GiaiThuongKhoaHoc" },
            { title: "Hoạt động bảo vệ môi trường 928-", url: "/HoatDongBaoVeMoiTruong" },
            { title: "Nhiệm Vụ KHCN 827", url: "/NhiemVuKhcn" },
            { title: "Nhóm nghiên cứu mạnh 905-", url: "/NhomNghienCuuManh" },
            { title: "Sách Đã Xuất Bản 926-", url: "/SachDaXuatBan" },
            { title: "Tài sản trí tuệ 932-", url: "/TaiSanTriTue" },
            { title: "Tạp chí khoa học 813-", url: "/TapChiKhoaHoc" }
        ];

        var linkDataNH = [
            { title: "Danh hiệu thi đua giải thưởng khen thưởng người học 803", url: "/DanhHieuThiDuaGiaiThuongKhenThuongNguoiHoc" },
            { title: "Học viên 918-", url: "/HocVien" },
            { title: "Kỷ luật người học 933-", url: "/KyLuatNguoiHoc" },
            { title: "Người học vay tín dụng 903-", url: "/NguoiHocVayTinDung" },
            { title: "Thông tin học bổng", url: "/ThongTinHocBong" },
            { title: "Thông tin học tập nghiên cứu sinh-801", url: "/ThongTinHocTapNghienCuuSinh" },
            { title: "Thông tin người học GDTC 927-", url: "/ThongTinNguoiHocGdtc" },
            { title: "Thông tin việc làm sau tốt nghiệp 907-", url: "/ThongTinViecLamSauTotNghiep" },
            { title: "Thông tin vi phạm 927-", url: "/ThongTinViPham" },
        ];

        var linkDataCSVC = [
            { title: "Đất Đai 832-", url: "/DatDai" },
            { title: "Phòng Học, Giảng Đường, Hội Trường 912-", url: "/PhongHocGiangDuongHoiTruong" },
            { title: "Kí Túc Xá 834-", url: "/KiTucXa" },
            { title: "Công Trình Cơ Sở Vật Chất 922-", url: "/CongTrinhCoSoVatChat" },
            { title: "Phòng Thí Nghiệm 826-", url: "/PhongThiNghiem" },
            { title: "Phòng Thực Hành 826-", url: "/PhongThucHanh" },
            { title: "Thiết Bị Phòng 832-", url: "/ThietBiPtnThtren500Tr" },
            { title: "Thư Viện Trung Tâm Học Liệu 911-", url: "/ThuVienTrungTamHocLieu" },
        ];

        var linkDataCSGD = [
            { title: "Cơ Cấu Tổ Chức 921-", url: "/CoCauToChuc" },
            { title: "Cơ Sở Giáo Dục", url: "/CoSoGiaoDuc" },
            { title: "Danh Hiệu Thi đua Giải Thưởng, Khen Thưởng Của Cơ Sở Giáo Dục 913-", url: "/DanhHieuThiDuaGiaiThuongKhenThuongCuaCoSoGd" },
            { title: "Đầu Mối Liên Hệ 931-", url: "/DauMoiLienHe" },
            { title: "Đơn Vị Liên Kết Đào Tạo Giáo Dục 930-", url: "/DonViLienKetDaoTaoGiaoDuc" },
            { title: "Khóa Học 825-", url: "/KhoaHoc" },
            { title: "Lịch Sử Đổi Tên Trường", url: "/LichSuDoiTenTruong" },
            { title: "Tổ chức Kiểm Định", url: "/ToChucKiemDinh" },
            { title: "Văn Bản Từ Chữ 825-", url: "/VanBanTuChu" },
        ];

        var linkDataCTDT = [
            { title: "Chương trình đào tạo 823-", url: "/ChuongTrinhDaoTao" },
            { title: "Gia Hạn Chương Trình Đào Tạo 807-", url: "/GiaHanChuongTrinhDaoTao" },
            { title: "Nắm Áp Dụng Chương Trình", url: "/NamApDungChuongTrinh" },
            { title: "Ngôn Ngữ Giảng Dạy 812-", url: "/NgonNguGiangDay" },
            { title: "Quyết Định Cấp Phép Chương Trình Dùng Cho Chương Trình Nước Ngoài", url: "/QuyetDinhCapPhepChuongTrinhDungChoChuongTrinhNuocNgoai" },
            { title: "Thông Tin Kiểm Định Của Chương Trình 929-", url: "/ThongTinKiemDinhCuaChuongTrinh" },
        ];

        var linkDataTC = [
            { title: "Hoạt Động Tài Chính 824-", url: "/HoatDongTaiChinh" },
            { title: "Khoản Nộp Ngân Sách 808-", url: "/KhoanNopNganSach" },
            { title: "Khoản Trích Lập Quỹ 808-", url: "/KhoanTrichLapQuy" },
            { title: "Loại Thu Chi 807-", url: "/LoaiThuChi" },
            { title: "Tài Sản Đơn Vị", url: "/TaiSanDonVi" },
            { title: "Chi Tiết Tài Sản Đơn Vị 920-", url: "/ChiTietTaiSanDonVi" },
            { title: "Chi Tiết Thu Chi", url: "/ChiTietThuChi" },
        ];

        var linkDataTS = [
            { title: "Chỉ tiêu tuyển sinh theo ngành", url: "/TbChiTieuTuyenSinhTheoNganhs" },
            { title: "Dữ liệu trúng tuyển 822", url: "/TbDuLieuTrungTuyens" },
        ];

        const linkDataVB = [
            { title: "Danh sách văn bằng chứng chỉ 804-", url: "/DanhSachVanBangChungChi" }
        ];

        // Dữ liệu danh sách
        var listItems = [
            { id: "list-cb",    title: "Cán bộ (CB)",                   listLink: linkDataCB,       link: "/Home/CB"},
            { id: "list-htqt",  title: "Hợp tác quốc tế (HTQT, HTDN)",  listLink: linkDataHTQT,     link: "/Home/htqt"},
            { id: "list-khcn",  title: "Khoa học công nghệ",            listLink: linkDataKHCN,     link: "/Home/KHCN"},
            { id: "list-nh",    title: "Người học",                     listLink: linkDataNH,       link: "/Home/NH"},
            { id: "list-csvc",  title: "Cơ sở vật chất",                listLink: linkDataCSVC,     link: "/Home/CSVC"},
            { id: "list-csgd",  title: "Cơ sở giáo dục",                listLink: linkDataCSGD,     link: "/Home/CSGD"},
            { id: "list-ctdt",  title: "Chương trình đào tạo",          listLink: linkDataCTDT,     link: "/Home/CTDT"},
            { id: "list-tc",    title: "Tài chính",                     listLink: linkDataTC,       link: "/Home/TCTS"},
            { id: "list-ts",    title: "Tuyển sinh",                    listLink: linkDataTS,       link: "/Home/TS"},
            { id: "list-vb",    title: "Văn bằng",                      listLink: linkDataVB,       link: "/Home/VB"}
        ];
        // Tạo vùng chức năng cho từng chức năng con cho thẻ div chỉ định
        function createTabPanes(item, containerId, idx) {
            var $tabContent = $(`#${containerId}`);
            $tabContent.empty();
            
            var $linkA = $('<a class="h5 fw-bold"></a>').attr('href', item.link).text(item.title);
                
            var $linkList = $('<ul class="list-group list-group-flush mt-2"></ul>');
            
            item.listLink.forEach(function(linkItem) {
                var $link = $('<li class="list-group-item fst-italic ms-3"></li>')
                    .append($('<a></a>')
                        .attr('href', linkItem.url)
                        .text(linkItem.title));
                $linkList.append($link);
            });
            $tabContent.append($linkA);
            $tabContent.append($linkList);
        }

        // Dữ liệu các mục điều hướng
        var navItems = [
        { title: "Cán bộ (CB)", url: "/Home/CB" },
        { title: "Hợp tác quốc tế (HTQT, HTDN)", url: "/Home/htqt" },
        { title: "Khoa học công nghệ", url: "/Home/KHCN" },
        { title: "Người học", url: "/Home/NH" },
        { title: "Cơ sở vật chất", url: "/Home/CSVC" },
        { title: "Cơ sở giáo dục", url: "/Home/CSGD" },
        { title: "Chương trình đào tạo", url: "/Home/CTDT" },
        { title: "Tài chính", url: "/Home/TCTS" },
        { title: "Tuyển sinh", url: "/Home/TS" },
        { title: "Văn bằng", url: "/Home/VB" }
        ];
        
        @* // Xây dựng hader:
        function createNavbar(navItems, contanerNav) {
            var $navbar = $(`#${contanerNav}`);
            $navbar.empty();
        
            navItems.forEach(function(item) {
                var $navItem = $('<li></li>').addClass('nav-item');
                var $link = $('<a></a>')
                    .addClass('nav-link text-dark')
                    .attr('href', item.url)
                    .attr('b-pahqt12xy2',"")
                    .text(item.title);
        
                $navItem.append($link);
                $navbar.append($navItem);
            });
        }
        
        // Tạo các mục danh sách bằng jQuery
        createNavbar(navItems, 'navbar-nav'); *@
        $(document).ready(function() {
            createTabPanes(listItems[0], 'divCB');
            createTabPanes(listItems[1], 'divHTQT');
            createTabPanes(listItems[2], 'divKHCN');
            createTabPanes(listItems[3], 'divNH');
            createTabPanes(listItems[4], 'divCSVC');
            createTabPanes(listItems[5], 'divCSGD');
            createTabPanes(listItems[6], 'divCTDT');
            createTabPanes(listItems[7], 'divTC');
            createTabPanes(listItems[8], 'divTS');
            createTabPanes(listItems[9], 'divVB');
        });
    </script>

}