@{
    ViewData["Title"] = "KHCN";
}

<h1>Thông tin khoa học công nghệ (KHCN) gồm 10 bảng</h1>
<div class="text-center">
    <h2>Nhóm 3_B9D55 </h2>
</div>

<a href="/BaiBaoKhdaCongBo">Bài báo KH đã công bố</a>
<br />
<hr />

<a href="/ChuyenGiaoCongNgheVaDaoTao"> Chuyển giao công nghệ và đào tạo</a>
<br />
<hr />


<a href="/DoanhNghiepKhcn">Doanh Nghiệp KHCN</a>
<br />
<hr />


<a href="/DoiTuongThamGium">Đối tượng tham gia</a>
<br />
<hr />

<a href="/GiaiThuongKhoaHoc">Giải thưởng khoa học</a>
<br />
<hr />


<a href="/HoatDongBaoVeMoiTruong">Hoạt động bảo vệ môi trường</a>
<br />
<hr />


<a href="/NhiemVuKhcn">Nhiệm Vụ KHCN</a>
<br />
<hr />


<a href="/NhomNghienCuuManh">Nhóm nghiên cứu mạnh</a>
<br />
<hr />

<a href="/SachDaXuatBan">Sách Đã Xuất Bản</a>
<br />
<hr />

<a href="/TaiSanTriTue">Tài sản trí tuệ</a>
<br />
<hr />

<a href="/TapChiKhoaHoc">Tạp chí khoa học</a>
<br />
<hr />
