@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Thông tin khoa học công nghệ (KHCN) gồm 10 bảng</h1>

<a href="/BaiBaoKhdaCongBo">Bài báo KH đã công bố</a>
<br />
<hr />

<a href="/ChuyenGiaoCongNgheVaDaoTao" Chuyển giao công nghệ và đào tạo</a>
<br />
<hr />


<a href="/DoanhNghiepKhcn">Doanh Nghiệp KHCN</a>
<br />
<hr />


<a href="/DoiTuongThamGium">Đối tượng tham gia</a>
<br />
<hr />

<a href="/GiaiThuongKhoaHoc">Giải thưởng khoa học</a>
<br />
<hr />


<a href="/HoatDongBaoVeMoiTruong">Hoạt động bảo vệ môi trường</a>
<br />
<hr />


<a href="/NhiemVuKhcn">Nhiệm Vụ KHCN</a>
<br />
<hr />


<a href="/NhomNghienCuuManh">Nhóm nghiên cứu mạnh</a>
<br />
<hr />

<a href="/SachDaXuatBan">Sách Đã Xuất Bản</a>
<br />
<hr />

<a href="/TaiSanTriTue">Tài sản trí tuệ</a>
<br />
<hr />

<a href="/TapChiKhoaHoc">Tạp chí khoa học</a>
<br />
<hr />
