@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Nhóm ngành đào tạo (NDT) gồm 5 bảng</h1>

<a href="/DanhSachNganhDaoTao">DanhSachNganhDaoTao</a>
<br />
<hr />

<a href="/HinhThucDaoTaoCuaNganh">HinhThucDaoTaoCuaNganh</a>
<br />
<hr />


<a href="/KhoiNganhDaoTao">KhoiNganhDaoTao</a>
<br />
<hr />


<a href="/LoaiHinhDaoTaoKhacDuocChoPhepMoNganh">LoaiHinhDaoTaoKhacDuocChoPhepMoNganh</a>
<br />
<hr />

<a href="/NhomNganhDaoTao">NhomNganhDaoTao</a>
<br />
<hr />


<a href="/ThongTinLinhVucDaoTao">ThongTinLinhVucDaoTao</a>
<br />
<hr />


