@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Nhóm người học (NH) gồm 10 bảng</h1>


<a href="/DanhHieuThiDuaGiaiThuongKhenThuongNguoiHoc">Danh hiệu thi đua giải thuỏng khen thưởng người học</a>
<br />
<hr />

<a href="/HocVien">Học viên</a>
<br />
<hr />


<a href="/KyLuatNguoiHoc">Kỷ luật người học</a>
<br />
<hr />


<a href="/NguoiHocVayTinDung">Người học vay tín dụng</a>
<br />
<hr />

<a href="/ThongTinHocBong">Thông tin học bổng</a>
<br />
<hr />


<a href="/ThongTinHocTapNghienCuuSinh">Thông tin học tập nghiên cứu sinh</a>
<br />
<hr />


<a href="/ThongTinNguoiHocGdtc">Thông tin người học GDTC</a>
<br />
<hr />


<a href="/ThongTinViecLamSauTotNghiep">Thông tin việc làm sau tốt nghiệp</a>
<br />
<hr />

<a href="/ThongTinViPham">Thông tin vi phạm</a>
<br />
<hr />


