@{
    ViewData["Title"] = "Trang chủ";
}
<style>
    /* Định dạng cho h1 và căn giữa */
    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
        text-decoration:dashed;
    }

    /* Định dạng liên kết */
    .title {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        font-size: 1.2rem;
    }

        /* Hiệu ứng khi di chuột vào liên kết */
        .title :hover {
            color: #0056b3;
            text-decoration: underline;
        }

    /* Định dạng dòng ngăn cách */
    hr {
        border: 0;
        height: 1px;
        background-color: #ccc;
        margin: 10px 0;
    }

    /* Khoảng cách giữa các liên kết */
    a + br {
        margin-bottom: 10px;
    }
</style>
<div >
    <h1 class="display-4">Người học</h1>
</div>

<div class="title">
<a href="/DanhHieuThiDuaGiaiThuongKhenThuongNguoiHoc">Danh hiệu thi đua giải thưởng khen thưởng người học</a>
<br />
<hr />

<a href="/HocVien">Học viên</a>
<br />
<hr />


<a href="/KyLuatNguoiHoc">Kỷ luật người học</a>
<br />
<hr />


<a href="/NguoiHocVayTinDung">Người học vay tín dụng</a>
<br />
<hr />

<a href="/ThongTinHocBong">Thông tin học bổng</a>
<br />
<hr />


<a href="/ThongTinHocTapNghienCuuSinh">Thông tin học tập nghiên cứu sinh</a>
<br />
<hr />


<a href="/ThongTinNguoiHocGdtc">Thông tin người học GDTC</a>
<br />
<hr />


<a href="/ThongTinViecLamSauTotNghiep">Thông tin việc làm sau tốt nghiệp</a>
<br />
<hr />

<a href="/ThongTinViPham">Thông tin vi phạm</a>
<br />
<hr />
</div>