@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Thông tin tài chính (TCTS) gồm 7 bảng</h1>


<a href="/HoatDongTaiChinh">HoatDongTaiChinh</a>
<br />
<hr />

<a href="/KhoanNopNganSach">KhoanNopNganSach</a>
<br />
<hr />


<a href="/KhoanTrichLapQuy">KhoanTrichLapQuy</a>
<br />
<hr />


<a href="/LoaiThuChi">LoaiThuChi</a>
<br />
<hr />

<a href="/TaiSanDonVi">TaiSanDonVi</a>
<br />
<hr />


<a href="/ChiTietTaiSanDonVi">ChiTietTaiSanDonVi</a>
<br />
<hr />


<a href="/ChiTietThuChi">ChiTietThuChi</a>
<br />
<hr />


