@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Thông tin tuyển sinh (TS) gồm 2 bảng</h1>


<a href="/TbChiTieuTuyenSinhTheoNganhs">Chỉ tiêu tuyển sinh theo ngành</a>
<br />
<hr />

<a href="/TbDuLieuTrungTuyens">Dữ liệu trúng tuyển</a>
<br />
<hr />


<a href="/"></a>
<br />
<hr />


<a href="/"></a>
<br />
<hr />

<a href="/"></a>
<br />
<hr />


<a href="/"></a>
<br />
<hr />


<a href="/"></a>
<br />
<hr />


<a href="/"></a>
<br />
<hr />


