/*Định dạng toàn trang web*/
body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(135deg,#F5E7F6, #E4FCFF);
}
/*Định dạng thẻ h1*/
h1 {
    text-align: center;
    font-size: 54px;
    color: #004AAD;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 50px;
}
/*Định dạng thẻ h2*/
h2 {
    text-align: center;
    font-size: 30px;
    color: #004AAD;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 20px;
}
/*Định dạng thẻ p để nó ở center*/
p {
    margin: 0;
}

.w {
    width: 90%;
    margin: auto;
}
/*Định dạng bảng không cố định*/
table.dataTable {
    white-space: nowrap;
    border: 1px #CACCCD solid;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
}

    table.dataTable th, table.dataTable td {
        border: 1px solid #CACCCD; /* Viền màu xám */
        padding: 8px; /* Khoảng cách giữa nội dung và viền */
        text-align: center; /* Căn giữa nội dung trong các ô */
        vertical-align: middle; /* Căn giữa theo chiều dọc */
        padding: 5px; /* Đảm bảo không có khoảng cách không cần thiết */
    }

    /* Tùy chỉnh màu cho các hàng (row) */
    table.dataTable tbody tr {
        background-color: #ffffff;
        border: 1px #CACCCD solid;
    }

        /* Tùy chỉnh màu cho các hàng chẵn để tạo hiệu ứng kẻ sọc */
        table.dataTable tbody tr:nth-child(even) {
            background-color: #F0FAFF;
        }

    /* Tùy chỉnh nền và màu chữ cho tiêu đề cột */
    table.dataTable thead th {
        background-color: #E2F2FF;
        color: #004aad;
        width: 100%;
    }
/*Tùy chỉnh các cột cố định*/
.sorting.dtfc-fixed-left {
    background-color: #e2f2ff !important;
}

.nosort.sorting.dtfc-fixed-right {
    background-color: #e2f2ff;
}

tr:nth-child(even) .dtfc-fixed-left {
    background-color: #F0FAFF !important;
}

tr:nth-child(even) .dtfc-fixed-right {
    background-color: #F0FAFF !important;
}

.dataTables_scrollHeadInner, .dataTables_scrollBody table {
    width: auto !important; /* Đảm bảo bảng co giãn */
}

/*Định dạng nút tạo mới*/
.btn-primary {
    border-radius: 5px;
    font-size: 18px;
    width: 780px;
    height: 35px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-color: #004aad;
}

    .btn-primary:hover {
        background-color: #ACCFFF;
    }
/*định dạng nút xóa*/
.btn-danger {
    border-radius: 5px;
    font-size: 18px;
    width: 780px;
    height: 35px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.btn {
    padding: 0px 7px;
}
/*định dạng icon*/
.icon-container {
    font-size: 20px; /* Kích thước biểu tượng */
    transition: transform 0.3s, color 0.3s; /* Hiệu ứng chuyển tiếp */
    cursor: pointer; /* Con trỏ chuột khi hover */
}

    .icon-container:hover {
        transform: scale(1.2); /* Phóng to biểu tượng khi hover */
        color: #ff5722; /* Thay đổi màu sắc khi hover */
    }
/*Định dạng nút tạo mới khi tạo mới*/
.btn-create {
    background-color: #2E87FF;
    border-radius: 20px;
    float: right;
    padding: 2px 7px;
}

    .btn-create:hover {
        font-weight: bold; /* Chữ sẽ đậm hơn khi hover */
        transform: scale(1.05); /* Tạo hiệu ứng phóng to nhẹ khi hover */
        background-color: #ACCFFF; /*màu xanh nhạt khi hover*/
    }

    /* Khi nhấn nút */
    .btn-create:active {
        font-weight: bolder; /* Chữ sẽ đậm hơn khi nhấn */
        background-color: #ACCFFF; /*màu xanh nhạt khi hover*/
    }
/*Định dạng loại tốt nghiệp*/
.badge-xuatsac {
    background-color: #FFED8F;
}

.badge-gioi {
    background-color: #B8F1C7;
}

.badge-kha {
    background-color: #6DB5D8;
}

.badge-trungbinh {
    background-color: #FFC8A0;
}

.badge-trungbinhkha {
    background-color: #CC9EE1;
}

.custom-badge {
    font-size: 16px; /* Tăng kích thước font */
    padding: 0px 15px; /* Tăng khoảng cách xung quanh chữ */
    min-width: 90px;
    border-radius: 30px; /* Bo góc tròn */
    display: inline-block; /* Đảm bảo độ rộng chỉ dựa trên nội dung */
    text-align: center; /* Căn giữa chữ */
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 820px;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
}

.control-label {
    font-weight: bold;
    color: #004aad;
}
