@model C500Hemis.Models.TbThuVienTrungTamHocLieu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbThuVienTrungTamHocLieu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdThuVienTrungTamHocLieu" />
            <div class="form-group">
                <label asp-for="MaThuVienTrungTamHocLieu" class="control-label"></label>
                <input asp-for="MaThuVienTrungTamHocLieu" class="form-control" />
                <span asp-validation-for="MaThuVienTrungTamHocLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenThuVienTrungTamHocLieu" class="control-label"></label>
                <input asp-for="TenThuVienTrungTamHocLieu" class="form-control" />
                <span asp-validation-for="TenThuVienTrungTamHocLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamDuaVaoSuDung" class="control-label"></label>
                <input asp-for="NamDuaVaoSuDung" class="form-control" />
                <span asp-validation-for="NamDuaVaoSuDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienTich" class="control-label"></label>
                <input asp-for="DienTich" class="form-control" />
                <span asp-validation-for="DienTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienTichPhongDoc" class="control-label"></label>
                <input asp-for="DienTichPhongDoc" class="form-control" />
                <span asp-validation-for="DienTichPhongDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoPhongDoc" class="control-label"></label>
                <input asp-for="SoPhongDoc" class="form-control" />
                <span asp-validation-for="SoPhongDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongMayTinh" class="control-label"></label>
                <input asp-for="SoLuongMayTinh" class="form-control" />
                <span asp-validation-for="SoLuongMayTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongChoNgoi" class="control-label"></label>
                <input asp-for="SoLuongChoNgoi" class="form-control" />
                <span asp-validation-for="SoLuongChoNgoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongSach" class="control-label"></label>
                <input asp-for="SoLuongSach" class="form-control" />
                <span asp-validation-for="SoLuongSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTapChi" class="control-label"></label>
                <input asp-for="SoLuongTapChi" class="form-control" />
                <span asp-validation-for="SoLuongTapChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongSachDienTu" class="control-label"></label>
                <input asp-for="SoLuongSachDienTu" class="form-control" />
                <span asp-validation-for="SoLuongSachDienTu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTapChiDienTu" class="control-label"></label>
                <input asp-for="SoLuongTapChiDienTu" class="form-control" />
                <span asp-validation-for="SoLuongTapChiDienTu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuonngThuVienDienTuLienKetNn" class="control-label"></label>
                <input asp-for="SoLuonngThuVienDienTuLienKetNn" class="form-control" />
                <span asp-validation-for="SoLuonngThuVienDienTuLienKetNn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTinhTrangCsvc" class="control-label"></label>
                <select asp-for="IdTinhTrangCsvc" class="form-control" asp-items="ViewBag.IdTinhTrangCsvc"></select>
                <span asp-validation-for="IdTinhTrangCsvc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHinhThucSoHuu" class="control-label"></label>
                <select asp-for="IdHinhThucSoHuu" class="form-control" asp-items="ViewBag.IdHinhThucSoHuu"></select>
                <span asp-validation-for="IdHinhThucSoHuu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDauSach" class="control-label"></label>
                <input asp-for="SoLuongDauSach" class="form-control" />
                <span asp-validation-for="SoLuongDauSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDauTapChi" class="control-label"></label>
                <input asp-for="SoLuongDauTapChi" class="form-control" />
                <span asp-validation-for="SoLuongDauTapChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDauSachDienTu" class="control-label"></label>
                <input asp-for="SoLuongDauSachDienTu" class="form-control" />
                <span asp-validation-for="SoLuongDauSachDienTu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDauTapChiDienTu" class="control-label"></label>
                <input asp-for="SoLuongDauTapChiDienTu" class="form-control" />
                <span asp-validation-for="SoLuongDauTapChiDienTu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
