@model C500Hemis.Models.TbDanhHieuThiDuaGiaiThuongKhenThuongCuaCoSoGd

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbDanhHieuThiDuaGiaiThuongKhenThuongCuaCoSoGd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDanhHieuThiDuaGiaiThuongKhenThuongCuaCoSoGd" />
            <div class="form-group">
                <label asp-for="IdLoaiDanhHieuThiDuaGiaiThuongKhenThuong" class="control-label"></label>
                <select asp-for="IdLoaiDanhHieuThiDuaGiaiThuongKhenThuong" class="form-control" asp-items="ViewBag.IdLoaiDanhHieuThiDuaGiaiThuongKhenThuong"></select>
                <span asp-validation-for="IdLoaiDanhHieuThiDuaGiaiThuongKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDanhHieuThiDuaGiaiThuongKhenThuong" class="control-label"></label>
                <input asp-for="IdDanhHieuThiDuaGiaiThuongKhenThuong" class="form-control" />
                <span asp-validation-for="IdDanhHieuThiDuaGiaiThuongKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoQuyetDinhKhenThuong" class="control-label"></label>
                <input asp-for="SoQuyetDinhKhenThuong" class="form-control" />
                <span asp-validation-for="SoQuyetDinhKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPhuongThucKhenThuong" class="control-label"></label>
                <select asp-for="IdPhuongThucKhenThuong" class="form-control" asp-items="ViewBag.IdPhuongThucKhenThuong"></select>
                <span asp-validation-for="IdPhuongThucKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamKhenThuong" class="control-label"></label>
                <input asp-for="NamKhenThuong" class="form-control" />
                <span asp-validation-for="NamKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCapKhenThuong" class="control-label"></label>
                <select asp-for="IdCapKhenThuong" class="form-control" asp-items="ViewBag.IdCapKhenThuong"></select>
                <span asp-validation-for="IdCapKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
