@model C500Hemis.Models.TbDatDai

@{
    ViewData["Title"] = "Create";
}


<h1 align="center">Tạo mới</h1>

<h4 align="center">Thông Tin Đất Đai</h4>
<hr />
<style>
    .form-group {
        padding: 10px 50px;
        margin-right: 5px;
        background-color: mintcream;
        color: black;
        text-decoration: none;
        border-radius: 3px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .col-md-4 {
        margin: auto;
    }

    .row {
        margin: auto;
        padding: auto;
    }

    .action-links a {
        padding: auto;
        margin-right: auto;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        margin: 100px;
        margin-bottom: auto;
    }

    . back {
        padding: auto;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDatDai" class="control-label"></label>
                <input asp-for="IdDatDai" class="form-control" />
                <span asp-validation-for="IdDatDai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaGiayChungNhanQuyenSoHuu" class="control-label"></label>
                <input asp-for="MaGiayChungNhanQuyenSoHuu" class="form-control" />
                <span asp-validation-for="MaGiayChungNhanQuyenSoHuu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienTichDat" class="control-label"></label>
                <input asp-for="DienTichDat" class="form-control" />
                <span asp-validation-for="DienTichDat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHinhThucSoHuu" class="control-label"></label>
                <select asp-for="IdHinhThucSoHuu" class ="form-control" asp-items="ViewBag.IdHinhThucSoHuu">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TenDonViSoHuu" class="control-label"></label>
                <input asp-for="TenDonViSoHuu" class="form-control" />
                <span asp-validation-for="TenDonViSoHuu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinhChungQuyenSoHuuDatDai" class="control-label"></label>
                <input asp-for="MinhChungQuyenSoHuuDatDai" class="form-control" />
                <span asp-validation-for="MinhChungQuyenSoHuuDatDai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucDichSuDungDat" class="control-label"></label>
                <input asp-for="MucDichSuDungDat" class="form-control" />
                <span asp-validation-for="MucDichSuDungDat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamBatDauSuDungDat" class="control-label"></label>
                <input asp-for="NamBatDauSuDungDat" class="form-control" />
                <span asp-validation-for="NamBatDauSuDungDat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianSuDungDat" class="control-label"></label>
                <input asp-for="ThoiGianSuDungDat" class="form-control" />
                <span asp-validation-for="ThoiGianSuDungDat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienTichDatDaSuDung" class="control-label"></label>
                <input asp-for="DienTichDatDaSuDung" class="form-control" />
                <span asp-validation-for="DienTichDatDaSuDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>

</div>
<div class="back">
    <a asp-action="Index">Trở lại</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
