@model C500Hemis.Models.TbNamApDungChuongTrinh

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbNamApDungChuongTrinh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNamApDungChuongTrinh" />
            <div class="form-group">
                <label asp-for="IdChuongTrinhDaoTao" class="control-label"></label>
                <select asp-for="IdChuongTrinhDaoTao" class="form-control" asp-items="ViewBag.IdChuongTrinhDaoTao"></select>
                <span asp-validation-for="IdChuongTrinhDaoTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTinChiToiThieuDeTotNghiep" class="control-label"></label>
                <input asp-for="SoTinChiToiThieuDeTotNghiep" class="form-control" />
                <span asp-validation-for="SoTinChiToiThieuDeTotNghiep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongHocPhiToanKhoa" class="control-label"></label>
                <input asp-for="TongHocPhiToanKhoa" class="form-control" />
                <span asp-validation-for="TongHocPhiToanKhoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamApDung" class="control-label"></label>
                <input asp-for="NamApDung" class="form-control" />
                <span asp-validation-for="NamApDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiTieuTuyenSinhHangNam" class="control-label"></label>
                <input asp-for="ChiTieuTuyenSinhHangNam" class="form-control" />
                <span asp-validation-for="ChiTieuTuyenSinhHangNam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
