@model C500Hemis.Models.TbHoiThaoHoiNghi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbHoiThaoHoiNghi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdHoiThaoHoiNghi" class="control-label"></label>
                <input asp-for="IdHoiThaoHoiNghi" class="form-control" />
                <span asp-validation-for="IdHoiThaoHoiNghi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaHoiThaoHoiNghi" class="control-label"></label>
                <input asp-for="MaHoiThaoHoiNghi" class="form-control" />
                <span asp-validation-for="MaHoiThaoHoiNghi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHoiThaoHoiNghi" class="control-label"></label>
                <input asp-for="TenHoiThaoHoiNghi" class="form-control" />
                <span asp-validation-for="TenHoiThaoHoiNghi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoQuanCoThamQuyenCapPhep" class="control-label"></label>
                <input asp-for="CoQuanCoThamQuyenCapPhep" class="form-control" />
                <span asp-validation-for="CoQuanCoThamQuyenCapPhep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucTieu" class="control-label"></label>
                <input asp-for="MucTieu" class="form-control" />
                <span asp-validation-for="MucTieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDaiBieuThamDu" class="control-label"></label>
                <input asp-for="SoLuongDaiBieuThamDu" class="form-control" />
                <span asp-validation-for="SoLuongDaiBieuThamDu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDaiBieuQuocTeThamDu" class="control-label"></label>
                <input asp-for="SoLuongDaiBieuQuocTeThamDu" class="form-control" />
                <span asp-validation-for="SoLuongDaiBieuQuocTeThamDu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianToChuc" class="control-label"></label>
                <input asp-for="ThoiGianToChuc" class="form-control" />
                <span asp-validation-for="ThoiGianToChuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaDiemToChuc" class="control-label"></label>
                <input asp-for="DiaDiemToChuc" class="form-control" />
                <span asp-validation-for="DiaDiemToChuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNguonKinhPhiHoiThao" class="control-label"></label>
                <select asp-for="IdNguonKinhPhiHoiThao" class ="form-control" asp-items="ViewBag.IdNguonKinhPhiHoiThao"></select>
            </div>
            <div class="form-group">
                <label asp-for="DonViChuTri" class="control-label"></label>
                <input asp-for="DonViChuTri" class="form-control" />
                <span asp-validation-for="DonViChuTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
