@model C500Hemis.Models.TbPhongThucHanh

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbPhongThucHanh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPhongThucHanh" />
            <div class="form-group">
                <label asp-for="IdCongTrinhCsvc" class="control-label"></label>
                <select asp-for="IdCongTrinhCsvc" class="form-control" asp-items="ViewBag.IdCongTrinhCsvc"></select>
                <span asp-validation-for="IdCongTrinhCsvc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLinhVuc" class="control-label"></label>
                <select asp-for="IdLinhVuc" class="form-control" asp-items="ViewBag.IdLinhVuc"></select>
                <span asp-validation-for="IdLinhVuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucDoDapUngNhuCauNckh" class="control-label"></label>
                <input asp-for="MucDoDapUngNhuCauNckh" class="form-control" />
                <span asp-validation-for="MucDoDapUngNhuCauNckh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamDuaVaoSuDung" class="control-label"></label>
                <input asp-for="NamDuaVaoSuDung" class="form-control" />
                <span asp-validation-for="NamDuaVaoSuDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
