@model C500Hemis.Models.TbHoatDongTaiChinh

@{
    ViewData["Title"] = "Delete";
}

<style>
    body {
        background-image: url(https://upload.wikimedia.org/wikipedia/vi/8/85/Logo_hoc_vien_ANND.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ccffcc;
    }

    body {
        background-color: #C4DAD2;
    }

    div .row {
        background-color: #E9EFEC;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border-collapse: collapse;
        border: 2px solid #243642;
        height: 500px
    }

    h1 {
        font-weight: bold;
        text-shadow: 0 0 0.2em #6A9C89;
        color: #E9EFEC;
        padding: 5px;
        background-color: #16423C;
        display: inline-block;
        border-radius: 8px;
        margin-top: 10px;
        align-items: center;
    }

    .btn-backto {
        text-decoration: none;
        display: inline-block;
        background-color: #1769ff;
        color: white;
        padding: 6px;
        border-radius: 4px;
    }

        .btn-backto:hover {
            transform: scale(1.05);
        }

    .btn-danger:hover {
        transform: scale(1.05);
    }

    dt, dd {
        color: #387478;
        padding: 3px;
    }
</style>

<h1 align="center">Xoá Hoạt Động Tài Chính</h1>

<h3 align="center">Bạn có chắc chắn muốn xoá mục này?</h3>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <table>
            <tr>
                <th>Năm tài chính</th>
                <td>@Html.DisplayFor(model => model.NamTaiChinh)</td>
            </tr>
            <tr>
                <th>Kinh phí</th>
                <td>@Html.DisplayFor(model => model.KinhPhi)</td>
            </tr>
            <tr>
                <th>Nội dung</th>
                <td>@Html.DisplayFor(model => model.NoiDung)</td>
            </tr>
            <tr>
                <th>ID Loại hoạt động tài chính</th>
                <td>@Html.DisplayFor(model => model.IdLoaiHoatDongTaiChinhNavigation.IdHoatDongTaiChinh)</td>
            </tr>
        </table>

        <!-- Buttons for deletion and returning -->
        <div class="btn-container">
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="IdHoatDongTaiChinh" />
                <input type="submit" value="Xoá" class="btn btn-danger" />
                <a class="btn btn-primary" asp-action="Index">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>