@model C500Hemis.Models.TbHoatDongTaiChinh

@{
    ViewData["Title"] = "Delete";
}

<style>
    body {
        background-image: url(https://upload.wikimedia.org/wikipedia/vi/8/85/Logo_hoc_vien_ANND.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ccffcc;
    }
    body {
        background-color: #ccffcc; /* Background color for the page */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #ccffcc; /* Set table background color */
    }

    th, td {
        padding: 10px;
        text-align: left;
        border: 2px solid black;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin-right: 10px; /* Spacing between buttons */
    }

    .btn-primary {
        background-color: blue;
        color: white;
        text-decoration: none;
    }

        .btn-primary:hover {
            background-color: darkblue;
        }

    .btn-danger {
        background-color: red;
        color: white;
        text-decoration: none;
    }

        .btn-danger:hover {
            background-color: darkred;
        }

    .btn-container {
        text-align: center;
        margin-top: 20px;
    }
</style>

<h1 align="center">Xoá Hoạt Động Tài Chính</h1>

<h3 align="center">Bạn có chắc chắn muốn xoá mục này?</h3>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <table>
            <tr>
                <th>Năm tài chính</th>
                <td>@Html.DisplayFor(model => model.NamTaiChinh)</td>
            </tr>
            <tr>
                <th>Kinh phí</th>
                <td>@Html.DisplayFor(model => model.KinhPhi)</td>
            </tr>
            <tr>
                <th>Nội dung</th>
                <td>@Html.DisplayFor(model => model.NoiDung)</td>
            </tr>
            <tr>
                <th>ID Loại hoạt động tài chính</th>
                <td>@Html.DisplayFor(model => model.IdLoaiHoatDongTaiChinhNavigation.IdHoatDongTaiChinh)</td>
            </tr>
        </table>

        <!-- Buttons for deletion and returning -->
        <div class="btn-container">
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="IdHoatDongTaiChinh" />
                <input type="submit" value="Xoá" class="btn btn-danger" />
                <a class="btn btn-primary" asp-action="Index">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>