@model C500Hemis.Models.TbTapChiKhoaHoc

@{
    ViewData["Title"] = "Create";
}

@section Heads {
    <style>
        footer {
            visibility: hidden;
        }
    </style>
}

@*
   /*B8D55 AT13 Ca Kỳ Hòa*/
   Nội dung: 
    - Tạo form nhập thông tin
    - Có sử dụng datetime cho kiểu dữ liệu ngày tháng năm
    - Có selectlist
    - Bắt lỗi nhập trùng ID và lỗi khi nhập sai định dạng
    - Sử dụng try catch
   Hình thức:
    - Chỉnh css cho đẹp
    - Màu chủ đạo là màu đỏ và logo học viện an ninh nhân dân
    - Tạo các hiệu ứng khi tương tác với các thuộc tính
*@

<style>

    body {
        background-image: url(https://upload.wikimedia.org/wikipedia/vi/thumb/8/85/Logo_hoc_vien_ANND.png/330px-Logo_hoc_vien_ANND.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(195,34,34);
    }

    .khungchua {
        min-height: 80vh;
        width: 600px;
        background-color: #FFF9;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        margin: auto;
    }

    h1 {
        font-family: Apice;
        text-align: center;
    }

    h4 {
        text-align: center;
        font-family: Apice;
    }

    .btn-container {
        display: flex;
        justify-content: center; /* Căn giữa */
        margin-top: 20px; /* Khoảng cách phía trên */
    }

    .btn-primary {
        background-color: #41B06E;
        color: #E9EFEC;
        margin: 0 10px; /* Khoảng cách giữa các nút */
    }

        .btn-primary:hover {
            background-color: #8DECB4;
            transform: scale(1.05);
        }

    .control-label {
        font-weight: bold;
    }

    .form-group {
        width: 100%; /* Chiếm hết chiều rộng có sẵn */
        font-size: 16px;
    }

    .form-control {
        width: 100%; /* Đặt chiều rộng cho input là 100% */
    }

    .header {
        background-color: #d5d1defe; /* Màu nền cho header */
        border-radius: 10px 10px 0 0; /* Bo góc cho phần trên */
        height: 120px;
        text-align: center; /* Căn giữa nội dung trong header */
        padding: 20px; /* Padding cho header */
        margin-bottom: 20px; /* Khoảng cách giữa header và nội dung */
    }                                              
    .row{
        padding-left:70px;
    }
</style>

<div class="khungchua">
    <div class="header">
        <h1>Tạo mới</h1>
        <h4>Tạp chí khoa học</h4>
    </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-5">
            <div class="form-group">
                <label asp-for="IdTapChiKhoaHoc" class="control-label"></label>
                <input asp-for="IdTapChiKhoaHoc" class="form-control" />
                <span asp-validation-for="IdTapChiKhoaHoc" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="MaTapChi" class="control-label"></label>
                <input asp-for="MaTapChi" class="form-control" />
                <span asp-validation-for="MaTapChi" class="text-danger"></span>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            <div class="form-group">
                <label asp-for="TenTapChiTiengViet" class="control-label"></label>
                <input asp-for="TenTapChiTiengViet" class="form-control" />
                <span asp-validation-for="TenTapChiTiengViet" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-5">
            <div class="form-group">
                <label asp-for="TenTapChiTiengAnh" class="control-label"></label>
                <input asp-for="TenTapChiTiengAnh" class="form-control" />
                <span asp-validation-for="TenTapChiTiengAnh" class="text-danger"></span>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            <div class="form-group">
                <label asp-for="MaChuanIssn" class="control-label"></label>
                <input asp-for="MaChuanIssn" class="form-control" />
                <span asp-validation-for="MaChuanIssn" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-5">
            <div class="form-group">
                <label asp-for="IdLinhVucXuatBan" class="control-label"></label>
                <select asp-for="IdLinhVucXuatBan" class ="form-control" asp-items="ViewBag.IdLinhVucXuatBan"></select>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            <div class="form-group">
                <label asp-for="IdXepLoaiTapChi" class="control-label"></label>
                <select asp-for="IdXepLoaiTapChi" class ="form-control" asp-items="ViewBag.IdXepLoaiTapChi"></select>
            </div>
            </div>
            <div class="col-md-5">
            <div class="form-group">
                <label asp-for="SoBaiBao1Nam" class="control-label"></label>
                <input asp-for="SoBaiBao1Nam" class="form-control" />
                <span asp-validation-for="SoBaiBao1Nam" class="text-danger"></span>
            </div>
            </div>
        </div>
            <br/>
            <div class="form-group" style="padding-left: 200px;">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
