@model C500Hemis.Models.TbKyLuatCanBo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbKyLuatCanBo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdKyLuatCanBo" />
            <div class="form-group">
                <label asp-for="IdCanBo" class="control-label"></label>
                <select asp-for="IdCanBo" class="form-control" asp-items="ViewBag.IdCanBo"></select>
                <span asp-validation-for="IdCanBo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiKyLuat" class="control-label"></label>
                <select asp-for="IdLoaiKyLuat" class="form-control" asp-items="ViewBag.IdLoaiKyLuat"></select>
                <span asp-validation-for="IdLoaiKyLuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LyDo" class="control-label"></label>
                <input asp-for="LyDo" class="form-control" />
                <span asp-validation-for="LyDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCapQuyetDinh" class="control-label"></label>
                <select asp-for="IdCapQuyetDinh" class="form-control" asp-items="ViewBag.IdCapQuyetDinh"></select>
                <span asp-validation-for="IdCapQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThangNamQuyetDinh" class="control-label"></label>
                <input asp-for="NgayThangNamQuyetDinh" class="form-control" />
                <span asp-validation-for="NgayThangNamQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoQuyetDinh" class="control-label"></label>
                <input asp-for="SoQuyetDinh" class="form-control" />
                <span asp-validation-for="SoQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamBiKyLuat" class="control-label"></label>
                <input asp-for="NamBiKyLuat" class="form-control" />
                <span asp-validation-for="NamBiKyLuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
