@model C500Hemis.Models.TbDeAnDuAnChuongTrinh

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbDeAnDuAnChuongTrinh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDeAnDuAnChuongTrinh" class="control-label"></label>
                <input asp-for="IdDeAnDuAnChuongTrinh" class="form-control" />
                <span asp-validation-for="IdDeAnDuAnChuongTrinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaDeAnDuAnChuongTrinh" class="control-label"></label>
                <input asp-for="MaDeAnDuAnChuongTrinh" class="form-control" />
                <span asp-validation-for="MaDeAnDuAnChuongTrinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDeAnDuAnChuongTrinh" class="control-label"></label>
                <input asp-for="TenDeAnDuAnChuongTrinh" class="form-control" />
                <span asp-validation-for="TenDeAnDuAnChuongTrinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDungTomTat" class="control-label"></label>
                <input asp-for="NoiDungTomTat" class="form-control" />
                <span asp-validation-for="NoiDungTomTat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucTieu" class="control-label"></label>
                <input asp-for="MucTieu" class="form-control" />
                <span asp-validation-for="MucTieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianHopTacTu" class="control-label"></label>
                <input asp-for="ThoiGianHopTacTu" class="form-control" />
                <span asp-validation-for="ThoiGianHopTacTu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianHopTacDen" class="control-label"></label>
                <input asp-for="ThoiGianHopTacDen" class="form-control" />
                <span asp-validation-for="ThoiGianHopTacDen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongKinhPhi" class="control-label"></label>
                <input asp-for="TongKinhPhi" class="form-control" />
                <span asp-validation-for="TongKinhPhi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNguonKinhPhiDeAnDuAnChuongTrinh" class="control-label"></label>
                <select asp-for="IdNguonKinhPhiDeAnDuAnChuongTrinh" class ="form-control" asp-items="ViewBag.IdNguonKinhPhiDeAnDuAnChuongTrinh"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
