@model C500Hemis.Models.TbKhoaBoiDuongTapHuanThamGiaCuaCanBo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbKhoaBoiDuongTapHuanThamGiaCuaCanBo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdKhoaBoiDuongTapHuanThamGiaCuaCanBo" class="control-label"></label>
                <input asp-for="IdKhoaBoiDuongTapHuanThamGiaCuaCanBo" class="form-control" />
                <span asp-validation-for="IdKhoaBoiDuongTapHuanThamGiaCuaCanBo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCanBo" class="control-label"></label>
                <select asp-for="IdCanBo" class ="form-control" asp-items="ViewBag.IdCanBo"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenKhoaBoiDuongTapHuan" class="control-label"></label>
                <input asp-for="TenKhoaBoiDuongTapHuan" class="form-control" />
                <span asp-validation-for="TenKhoaBoiDuongTapHuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonViToChuc" class="control-label"></label>
                <input asp-for="DonViToChuc" class="form-control" />
                <span asp-validation-for="DonViToChuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiBoiDuong" class="control-label"></label>
                <select asp-for="IdLoaiBoiDuong" class ="form-control" asp-items="ViewBag.IdLoaiBoiDuong"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiaDiemToChuc" class="control-label"></label>
                <input asp-for="DiaDiemToChuc" class="form-control" />
                <span asp-validation-for="DiaDiemToChuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianBatDau" class="control-label"></label>
                <input asp-for="ThoiGianBatDau" class="form-control" />
                <span asp-validation-for="ThoiGianBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianKetThuc" class="control-label"></label>
                <input asp-for="ThoiGianKetThuc" class="form-control" />
                <span asp-validation-for="ThoiGianKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNguonKinhPhi" class="control-label"></label>
                <select asp-for="IdNguonKinhPhi" class ="form-control" asp-items="ViewBag.IdNguonKinhPhi"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChungChi" class="control-label"></label>
                <input asp-for="ChungChi" class="form-control" />
                <span asp-validation-for="ChungChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayCap" class="control-label"></label>
                <input asp-for="NgayCap" class="form-control" />
                <span asp-validation-for="NgayCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
