@model C500Hemis.Models.TbCoCauToChuc

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbCoCauToChuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCoCauToChuc" class="control-label"></label>
                <input asp-for="IdCoCauToChuc" class="form-control" />
                <span asp-validation-for="IdCoCauToChuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaPhongBanDonVi" class="control-label"></label>
                <input asp-for="MaPhongBanDonVi" class="form-control" />
                <span asp-validation-for="MaPhongBanDonVi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiPhongBan" class="control-label"></label>
                <select asp-for="IdLoaiPhongBan" class ="form-control" asp-items="ViewBag.IdLoaiPhongBan"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaPhongBanDonViCha" class="control-label"></label>
                <input asp-for="MaPhongBanDonViCha" class="form-control" />
                <span asp-validation-for="MaPhongBanDonViCha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenPhongBanDonVi" class="control-label"></label>
                <input asp-for="TenPhongBanDonVi" class="form-control" />
                <span asp-validation-for="TenPhongBanDonVi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoQuyetDinhThanhLap" class="control-label"></label>
                <input asp-for="SoQuyetDinhThanhLap" class="form-control" />
                <span asp-validation-for="SoQuyetDinhThanhLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayRaQuyetDinh" class="control-label"></label>
                <input asp-for="NgayRaQuyetDinh" class="form-control" />
                <span asp-validation-for="NgayRaQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTrangThai" class="control-label"></label>
                <select asp-for="IdTrangThai" class ="form-control" asp-items="ViewBag.IdTrangThai"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
