@model C500Hemis.Models.TbThongTinViPham

@{
    ViewData["Title"] = "Create";
}
<style>
    h1, h4  {
        text-align: center;
    }
    div {
        margin:auto;
    }
</style>

<h1>Tạo mới</h1>

<h4>Thông tin vi phạm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdThongTinViPham" class="control-label"></label>
                <input asp-for="IdThongTinViPham" class="form-control" />
                <span asp-validation-for="IdThongTinViPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHocVien" class="control-label"></label>
                <select asp-for="IdHocVien" class ="form-control" asp-items="ViewBag.IdHocVien"></select>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianViPham" class="control-label"></label>
                <input asp-for="ThoiGianViPham" class="form-control" />
                <span asp-validation-for="ThoiGianViPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDungViPham" class="control-label"></label>
                <input asp-for="NoiDungViPham" class="form-control" />
                <span asp-validation-for="NoiDungViPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhThucXuLy" class="control-label"></label>
                <input asp-for="HinhThucXuLy" class="form-control" />
                <span asp-validation-for="HinhThucXuLy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiViPham" class="control-label"></label>
                <select asp-for="IdLoaiViPham" class ="form-control" asp-items="ViewBag.IdLoaiViPham"></select>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Tạo mới" class="btn btn-primary" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <a asp-action="Index"><input type="submit" value="Về trang chủ" class="btn btn-primary"</a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
