@model C500Hemis.Models.TbKiTucXa

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: sans-serif;
            background-image: linear-gradient(to right, rgb(124, 182, 191), rgb(200, 223, 227), #ffff);
        }

        .wrapper {
            background: transparent;
            border: 2px solid rgba(255,255,255,.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            padding: 30px 40px;
        }

        .form-group {
            /* display:table; */
            padding-bottom: 30px;
        }

        .form-control {
            padding: 40px;
            background: rgba(255,255,255,.2);
            height: 50px;
            border: 10px;
            border-radius: 20px;
            outline: none;
            transition: .2s ease;
        }

        .row {
            background: transparent;
            border: 2px solid rgba(255,255,255,.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            padding: 30px 30px;
        }

        label {
            display: flex;
            font-size: 30px;
            font-weight: 500;
            padding-bottom: 20px;
        }

        #main-text {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 45px;
            font-weight: 600;
        }

        .button {
            border-radius: 24px;
            border: none;
            color: #fff;
            font-weight: 24px;
            font-size: 30px;
            margin: 0 10px;
            padding: 8px 24px;
            background-color: #4070f4;
            cursor: pointer;
            transition: all 0.3s ease;
        }

            .button:hover {
                background-color: #0e4bf1;
            }

        .form-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .main-function {
            background: transparent;
            border: 2px solid rgba(255,255,255,.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            margin-bottom: 10px;
        }

        .back {
            text-align: left;
            font-size: 30px;
            font-weight: 300;
        }

        #main-text-2 {
            text-align: center;
            font-size: 70px;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="main-function">
            <h1 id="main-text">THÊM THÔNG TIN</h1>
        </div>
        <div class="row">
            <h1 id="main-text-2">KÍ TÚC XÁ</h1>
            <hr>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdKiTucXa" class="control-label">STT</label>
                    <input asp-for="IdKiTucXa" class="form-control" />
                    <span asp-validation-for="IdKiTucXa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaKyTucxa" class="control-label">Mã ký túc xá</label>
                    <input asp-for="MaKyTucxa" class="form-control" />
                    <span asp-validation-for="MaKyTucxa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdHinhThucSoHuu" class="control-label">Hình thức sở hữu</label>
                    <select asp-for="IdHinhThucSoHuu" class="form-control" asp-items="ViewBag.IdHinhThucSoHuu"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TongChoO" class="control-label">Tổng số chỗ ở</label>
                    <input asp-for="TongChoO" class="form-control" />
                    <span asp-validation-for="TongChoO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TongDienTich" class="control-label">Tổng diện tích</label>
                    <input asp-for="TongDienTich" class="form-control" />
                    <span asp-validation-for="TongDienTich" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdTinhTrangCsvc" class="control-label">Tình trạng CSVC</label>
                    <select asp-for="IdTinhTrangCsvc" class="form-control" asp-items="ViewBag.IdTinhTrangCsvc"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SoPhong" class="control-label">Số phòng</label>
                    <input asp-for="SoPhong" class="form-control" />
                    <span asp-validation-for="SoPhong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NamDuaVaoSuDung" class="control-label">Năm đưa vào sử dụng</label>
                    <input asp-for="NamDuaVaoSuDung" class="form-control" />
                    <span asp-validation-for="NamDuaVaoSuDung" class="text-danger"></span>
                </div>
                <div class="form-button">
                    <input type="submit" value="Thêm mới" class="button" />
                </div>
            </form>
        </div>
        <div class="back">
            <a asp-action="Index">Trở lại</a>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}