@model C500Hemis.Models.TbKiTucXa

@{
    ViewData["Title"] = "Create";
}

<h1 align="center">Tạo mới</h1>

<h4 align="center">Kí túc xá</h4>
<hr />
<style>
    .form-group{
        padding: 10px 50px;
        margin-right: 5px;
        background-color: mintcream;
        color: black;
        text-decoration: none;
        border-radius: 3px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
    .col-md-4{
        margin: auto;
    }
    .row{
        margin: auto;
        padding: auto;
    }
    .action-links a {
        padding: auto;
        margin-right: auto;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        margin: 100px;
        margin-bottom: auto;
    }
    . back{
        padding: auto;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdKiTucXa" class="control-label">STT</label>
                <input asp-for="IdKiTucXa" class="form-control" />
                <span asp-validation-for="IdKiTucXa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKyTucxa" class="control-label">Mã ký túc xá</label>
                <input asp-for="MaKyTucxa" class="form-control" />
                <span asp-validation-for="MaKyTucxa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHinhThucSoHuu" class="control-label">Hình thức sở hữu</label>
                <select asp-for="IdHinhThucSoHuu" class ="form-control" asp-items="ViewBag.IdHinhThucSoHuu"></select>
            </div>
            <div class="form-group">
                <label asp-for="TongChoO" class="control-label">Tổng số chỗ ở</label>
                <input asp-for="TongChoO" class="form-control" />
                <span asp-validation-for="TongChoO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongDienTich" class="control-label">Tổng diện tích</label>
                <input asp-for="TongDienTich" class="form-control" />
                <span asp-validation-for="TongDienTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTinhTrangCsvc" class="control-label">Tình trạng CSVC</label>
                <select asp-for="IdTinhTrangCsvc" class ="form-control" asp-items="ViewBag.IdTinhTrangCsvc"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoPhong" class="control-label">Số phòng</label>
                <input asp-for="SoPhong" class="form-control" />
                <span asp-validation-for="SoPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamDuaVaoSuDung" class="control-label">Năm đưa vào sử dụng</label>
                <input asp-for="NamDuaVaoSuDung" class="form-control" />
                <span asp-validation-for="NamDuaVaoSuDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
<div class="back">
    <a asp-action="Index">Trở lại</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
