@model C500Hemis.Models.TbLinhVucNghienCuuCuaCanBo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbLinhVucNghienCuuCuaCanBo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdLinhVucNghienCuuCuaCanBo" class="control-label"></label>
                <input asp-for="IdLinhVucNghienCuuCuaCanBo" class="form-control" />
                <span asp-validation-for="IdLinhVucNghienCuuCuaCanBo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCanBo" class="control-label"></label>
                <select asp-for="IdCanBo" class ="form-control" asp-items="ViewBag.IdCanBo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdLinhVucNghienCuu" class="control-label"></label>
                <select asp-for="IdLinhVucNghienCuu" class ="form-control" asp-items="ViewBag.IdLinhVucNghienCuu"></select>
            </div>
            <div class="form-group">
                <label asp-for="LaLinhVucNghienCuuChuyenSau" class="control-label"></label>
                <input asp-for="LaLinhVucNghienCuuChuyenSau" class="form-control" />
                <span asp-validation-for="LaLinhVucNghienCuuChuyenSau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoNamNghienCuu" class="control-label"></label>
                <input asp-for="SoNamNghienCuu" class="form-control" />
                <span asp-validation-for="SoNamNghienCuu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
