@model C500Hemis.Models.TbToChucHopTacDoanhNghiep

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbToChucHopTacDoanhNghiep</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdToChucHopTacDoanhNghiep" />
            <div class="form-group">
                <label asp-for="MaToChucHopTacDoanhNghiep" class="control-label"></label>
                <input asp-for="MaToChucHopTacDoanhNghiep" class="form-control" />
                <span asp-validation-for="MaToChucHopTacDoanhNghiep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenToChucHopTacDoanhNghiep" class="control-label"></label>
                <input asp-for="TenToChucHopTacDoanhNghiep" class="form-control" />
                <span asp-validation-for="TenToChucHopTacDoanhNghiep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDungHopTac" class="control-label"></label>
                <input asp-for="NoiDungHopTac" class="form-control" />
                <span asp-validation-for="NoiDungHopTac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKyKet" class="control-label"></label>
                <input asp-for="NgayKyKet" class="form-control" />
                <span asp-validation-for="NgayKyKet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KetQuaHopTac" class="control-label"></label>
                <input asp-for="KetQuaHopTac" class="form-control" />
                <span asp-validation-for="KetQuaHopTac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiDeAn" class="control-label"></label>
                <select asp-for="IdLoaiDeAn" class="form-control" asp-items="ViewBag.IdLoaiDeAn"></select>
                <span asp-validation-for="IdLoaiDeAn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaTriGiaoDichCuaThiTruong" class="control-label"></label>
                <input asp-for="GiaTriGiaoDichCuaThiTruong" class="form-control" />
                <span asp-validation-for="GiaTriGiaoDichCuaThiTruong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
