@model C500Hemis.Models.TbHocVien

@{
    ViewData["Title"] = "Create";
}
<style>
    h1, h4  {
        text-align: center;
    }
    div {
        margin:auto;
    }
</style>

<h1>Tạo mới</h1>

<h4>Học viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdHocVien" class="control-label"></label>
                <input asp-for="IdHocVien" class="form-control" />
                <span asp-validation-for="IdHocVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaHocVien" class="control-label"></label>
                <input asp-for="MaHocVien" class="form-control" />
                <span asp-validation-for="MaHocVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNguoi" class="control-label"></label>
                <select asp-for="IdNguoi" class ="form-control" asp-items="ViewBag.IdNguoi"></select>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoSoBaoHiem" class="control-label"></label>
                <input asp-for="SoSoBaoHiem" class="form-control" />
                <span asp-validation-for="SoSoBaoHiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiKhuyetTat" class="control-label"></label>
                <select asp-for="IdLoaiKhuyetTat" class ="form-control" asp-items="ViewBag.IdLoaiKhuyetTat"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTinh" class="control-label"></label>
                <select asp-for="IdTinh" class ="form-control" asp-items="ViewBag.IdTinh"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdHuyen" class="control-label"></label>
                <select asp-for="IdHuyen" class ="form-control" asp-items="ViewBag.IdHuyen"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdXa" class="control-label"></label>
                <select asp-for="IdXa" class ="form-control" asp-items="ViewBag.IdXa"></select>
            </div>
            <div class="form-group">
                <label asp-for="NoiSinh" class="control-label"></label>
                <input asp-for="NoiSinh" class="form-control" />
                <span asp-validation-for="NoiSinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueQuan" class="control-label"></label>
                <input asp-for="QueQuan" class="form-control" />
                <span asp-validation-for="QueQuan" class="text-danger"></span>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Tạo mới" class="btn btn-primary" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <a asp-action="Index"><input type="submit" value="Về trang chủ" class="btn btn-primary"</a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
