@model C500Hemis.Models.TbLuuHocSinhSinhVienNn

@{
    ViewData["Title"] = "Xóa";
}
<style>
    table {
        width: 100%; /* Chiều rộng bảng 100% */
        border-collapse: collapse; /* Gộp đường viền ô */
    }

    th, td {
        border: 1px solid #000; /* Đường viền đen cho các ô */
        text-align: left;
        padding: 8px; /* Khoảng cách giữa nội dung và đường viền ô */
    }

    th {
        font-weight: bold; /* Chữ đậm cho tiêu đề */
    }

    tr:hover {
        background-color: transparent; /* Không có màu nền khi di chuột qua hàng */
    }
</style>
<h1 style="text-align:center">Xóa</h1>

<div>
    <h4>Lưu học sinh, sinh viên nước ngoài</h4>
    <hr />
    <table>
        <tr>
            <th>Người học</th>
            <td>@Html.DisplayFor(model => model.IdNguoiHoc)</td>
        </tr>
        <tr>
            <th>Loại Lưu Học Sinh</th>
            <td>@Html.DisplayFor(model => model.IdLoaiLuuHocSinh)</td>
        </tr>
        <tr>
            <th>Nguồn Kinh Phí Lưu Học Sinh</th>
            <td>@Html.DisplayFor(model => model.IdNguonKinhPhiLuuHocSinh)</td>
        </tr>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLuuHocSinhSinhVienNn" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index">Quay lại</a>
    </form>
</div>

