@model C500Hemis.Models.TbNguoiHocVayTinDung

@{
    ViewData["Title"] = "Edit";
}
<style>
    h1, h4 {
        text-align: center;
    }

    div {
        margin: auto;
    }
</style>
<h1>Chỉnh sửa</h1>

<h4>Người học vay tín dụng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNguoiHocVayTinDung" />
            <div class="form-group">
                <label asp-for="IdHocVien" class="control-label"></label>
                <select asp-for="IdHocVien" class="form-control" asp-items="ViewBag.IdHocVien"></select>
                <span asp-validation-for="IdHocVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTienDuocVay" class="control-label"></label>
                <input asp-for="SoTienDuocVay" class="form-control" />
                <span asp-validation-for="SoTienDuocVay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenToChucTinDung" class="control-label"></label>
                <input asp-for="TenToChucTinDung" class="form-control" />
                <span asp-validation-for="TenToChucTinDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayVay" class="control-label"></label>
                <input asp-for="NgayVay" class="form-control" />
                <span asp-validation-for="NgayVay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiHanVay" class="control-label"></label>
                <input asp-for="ThoiHanVay" class="form-control" />
                <span asp-validation-for="ThoiHanVay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrangVay" class="control-label"></label>
                <select asp-for="TinhTrangVay" class="form-control" asp-items="ViewBag.TinhTrangVay"></select>
                <span asp-validation-for="TinhTrangVay" class="text-danger"></span>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <a asp-action="Index"><input type="submit" value="Về trang chủ" class="btn btn-primary"</a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
