@model C500Hemis.Models.TbDonViLienKetDaoTaoGiaoDuc

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbDonViLienKetDaoTaoGiaoDuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDonViLienKetDaoTaoGiaoDuc" class="control-label"></label>
                <input asp-for="IdDonViLienKetDaoTaoGiaoDuc" class="form-control" />
                <span asp-validation-for="IdDonViLienKetDaoTaoGiaoDuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCoSoGiaoDuc" class="control-label"></label>
                <select asp-for="IdCoSoGiaoDuc" class ="form-control" asp-items="ViewBag.IdCoSoGiaoDuc"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienThoai" class="control-label"></label>
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiLienKet" class="control-label"></label>
                <select asp-for="IdLoaiLienKet" class ="form-control" asp-items="ViewBag.IdLoaiLienKet"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
