@model C500Hemis.Models.TbGiaoVienQpan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbGiaoVienQpan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdGiaoVienQpan" />
            <div class="form-group">
                <label asp-for="IdCanBo" class="control-label"></label>
                <select asp-for="IdCanBo" class="form-control" asp-items="ViewBag.IdCanBo"></select>
                <span asp-validation-for="IdCanBo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamBatDauBietPhai" class="control-label"></label>
                <input asp-for="NamBatDauBietPhai" class="form-control" />
                <span asp-validation-for="NamBatDauBietPhai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoNamBietPhai" class="control-label"></label>
                <input asp-for="SoNamBietPhai" class="form-control" />
                <span asp-validation-for="SoNamBietPhai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiGiangVienQp" class="control-label"></label>
                <select asp-for="IdLoaiGiangVienQp" class="form-control" asp-items="ViewBag.IdLoaiGiangVienQp"></select>
                <span asp-validation-for="IdLoaiGiangVienQp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaoTaoGdqpan" class="control-label"></label>
                <input asp-for="DaoTaoGdqpan" class="form-control" />
                <span asp-validation-for="DaoTaoGdqpan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdQuanHam" class="control-label"></label>
                <select asp-for="IdQuanHam" class="form-control" asp-items="ViewBag.IdQuanHam"></select>
                <span asp-validation-for="IdQuanHam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTruongCongTac" class="control-label"></label>
                <input asp-for="SoTruongCongTac" class="form-control" />
                <span asp-validation-for="SoTruongCongTac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
