@model C500Hemis.Models.TbDanhGiaXepLoaiCanBo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbDanhGiaXepLoaiCanBo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDanhGiaXepLoaiCanBo" />
            <div class="form-group">
                <label asp-for="IdCanBo" class="control-label"></label>
                <select asp-for="IdCanBo" class="form-control" asp-items="ViewBag.IdCanBo"></select>
                <span asp-validation-for="IdCanBo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDanhGia" class="control-label"></label>
                <select asp-for="IdDanhGia" class="form-control" asp-items="ViewBag.IdDanhGia"></select>
                <span asp-validation-for="IdDanhGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamDanhGia" class="control-label"></label>
                <input asp-for="NamDanhGia" class="form-control" />
                <span asp-validation-for="NamDanhGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NganhDuocKhenThuong" class="control-label"></label>
                <input asp-for="NganhDuocKhenThuong" class="form-control" />
                <span asp-validation-for="NganhDuocKhenThuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
