@model C500Hemis.Models.TbQuaTrinhDaoTaoCuaCanBo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbQuaTrinhDaoTaoCuaCanBo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdQuaTrinhDaoTaoCuaCanBo" class="control-label"></label>
                <input asp-for="IdQuaTrinhDaoTaoCuaCanBo" class="form-control" />
                <span asp-validation-for="IdQuaTrinhDaoTaoCuaCanBo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCanBo" class="control-label"></label>
                <select asp-for="IdCanBo" class ="form-control" asp-items="ViewBag.IdCanBo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTrinhDoDaoTao" class="control-label"></label>
                <select asp-for="IdTrinhDoDaoTao" class ="form-control" asp-items="ViewBag.IdTrinhDoDaoTao"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdQuocGiaDaoTao" class="control-label"></label>
                <select asp-for="IdQuocGiaDaoTao" class ="form-control" asp-items="ViewBag.IdQuocGiaDaoTao"></select>
            </div>
            <div class="form-group">
                <label asp-for="CoSoDaoTao" class="control-label"></label>
                <input asp-for="CoSoDaoTao" class="form-control" />
                <span asp-validation-for="CoSoDaoTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianBatDau" class="control-label"></label>
                <input asp-for="ThoiGianBatDau" class="form-control" />
                <span asp-validation-for="ThoiGianBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianKetThuc" class="control-label"></label>
                <input asp-for="ThoiGianKetThuc" class="form-control" />
                <span asp-validation-for="ThoiGianKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNganhDaoTao" class="control-label"></label>
                <select asp-for="IdNganhDaoTao" class ="form-control" asp-items="ViewBag.IdNganhDaoTao"></select>
            </div>
            <div class="form-group">
                <label asp-for="NamTotNghiep" class="control-label"></label>
                <input asp-for="NamTotNghiep" class="form-control" />
                <span asp-validation-for="NamTotNghiep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiHinhDaoTao" class="control-label"></label>
                <select asp-for="IdLoaiHinhDaoTao" class ="form-control" asp-items="ViewBag.IdLoaiHinhDaoTao"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
