@model C500Hemis.Models.TbToChucKiemDinh

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbToChucKiemDinh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdToChucKiemDinhCsdg" />
            <div class="form-group">
                <label asp-for="IdToChucKiemDinh" class="control-label"></label>
                <select asp-for="IdToChucKiemDinh" class="form-control" asp-items="ViewBag.IdToChucKiemDinh"></select>
                <span asp-validation-for="IdToChucKiemDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKetQua" class="control-label"></label>
                <select asp-for="IdKetQua" class="form-control" asp-items="ViewBag.IdKetQua"></select>
                <span asp-validation-for="IdKetQua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoQuyetDinhKiemDinh" class="control-label"></label>
                <input asp-for="SoQuyetDinhKiemDinh" class="form-control" />
                <span asp-validation-for="SoQuyetDinhKiemDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayCapChungNhanKiemDinh" class="control-label"></label>
                <input asp-for="NgayCapChungNhanKiemDinh" class="form-control" />
                <span asp-validation-for="NgayCapChungNhanKiemDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiHanKiemDinh" class="control-label"></label>
                <input asp-for="ThoiHanKiemDinh" class="form-control" />
                <span asp-validation-for="ThoiHanKiemDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
