@model C500Hemis.Models.TbQuaTrinhCongTacCuaCanBo

@{
    ViewData["Title"] = "Tạo mới";
}

<h1 class="text-center">Tạo mới</h1>

<h4 class="text-center">Thông tin quá trình công tác của cán bộ</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="IdCanBo" class="control-label">Id Cán bộ</label>
                    <select asp-for="IdCanBo" class="form-control" asp-items="ViewBag.IdCanBo"></select>
                </div>

                <div class="form-group">
                    <label asp-for="TuThangNam" class="control-label">Từ tháng/năm</label>
                    <input asp-for="TuThangNam" class="form-control" />
                    <span asp-validation-for="TuThangNam" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DenThangNam" class="control-label">Đến tháng/năm</label>
                    <input asp-for="DenThangNam" class="form-control" />
                    <span asp-validation-for="DenThangNam" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdChucVu" class="control-label">Chức vụ</label>
                    <select asp-for="IdChucVu" class="form-control" asp-items="ViewBag.IdChucVu"></select>
                </div>

                <div class="form-group">
                    <label asp-for="IdChucDanhGiangVien" class="control-label">Chức danh giảng viên</label>
                    <select asp-for="IdChucDanhGiangVien" class="form-control" asp-items="ViewBag.IdChucDanhGiangVien"></select>
                </div>

                <div class="form-group">
                    <label asp-for="DonViCongTac" class="control-label">Đơn vị công tác</label>
                    <input asp-for="DonViCongTac" class="form-control" />
                    <span asp-validation-for="DonViCongTac" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Index">Quay lại danh sách</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
