@model C500Hemis.Models.TbChucDanhKhoaHocCuaCanBo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbChucDanhKhoaHocCuaCanBo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdChucDanhKhoaHocCuaCanBo" />
            <div class="form-group">
                <label asp-for="IdCanBo" class="control-label"></label>
                <select asp-for="IdCanBo" class="form-control" asp-items="ViewBag.IdCanBo"></select>
                <span asp-validation-for="IdCanBo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdChucDanhKhoaHoc" class="control-label"></label>
                <select asp-for="IdChucDanhKhoaHoc" class="form-control" asp-items="ViewBag.IdChucDanhKhoaHoc"></select>
                <span asp-validation-for="IdChucDanhKhoaHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdThamQuyenQuyetDinh" class="control-label"></label>
                <select asp-for="IdThamQuyenQuyetDinh" class="form-control" asp-items="ViewBag.IdThamQuyenQuyetDinh"></select>
                <span asp-validation-for="IdThamQuyenQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoQuyetDinh" class="control-label"></label>
                <input asp-for="SoQuyetDinh" class="form-control" />
                <span asp-validation-for="SoQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayQuyetDinh" class="control-label"></label>
                <input asp-for="NgayQuyetDinh" class="form-control" />
                <span asp-validation-for="NgayQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
