@model C500Hemis.Models.TbPhongHocGiangDuongHoiTruong

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: sans-serif;
            background-image: linear-gradient(to right, rgb(124, 182, 191), rgb(200, 223, 227), #ffff);
        }

        .wrapper {
            background: transparent;
            border: 2px solid rgba(255,255,255,.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            padding: 30px 40px;
        }

        .form-group {
            /* display:table; */
            padding-bottom: 30px;
        }

        .form-control {
            padding: 40px;
            background: rgba(255,255,255,.2);
            height: 50px;
            border: 10px;
            border-radius: 20px;
            outline: none;
            transition: .2s ease;
        }

        .row {
            background: transparent;
            border: 2px solid rgba(255,255,255,.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            padding: 30px 30px;
        }

        label {
            display: flex;
            font-size: 30px;
            font-weight: 500;
            padding-bottom: 20px;
        }

        #main-text {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 45px;
            font-weight: 600;
        }

        .button {
            border-radius: 24px;
            border: none;
            color: #fff;
            font-weight: 24px;
            font-size: 30px;
            margin: 0 10px;
            padding: 8px 24px;
            background-color: #4070f4;
            cursor: pointer;
            transition: all 0.3s ease;
        }

            .button:hover {
                background-color: #0e4bf1;
            }

        .form-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .main-function {
            background: transparent;
            border: 2px solid rgba(255,255,255,.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            margin-bottom: 10px;
        }

        .back {
            text-align: left;
            font-size: 30px;
            font-weight: 300;
        }

        #main-text-2 {
            text-align: center;
            font-size: 70px;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="main-function">
<h1 id="main-text">CHỈNH SỬA THÔNG TIN</h1>
        </div>
        <div class="row">
            <h1 id="main-text-2">Phòng học Giảng đường Hội trường</h1>
            <hr>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPhongHocGiangDuongHoiTruong" />
            <div class="form-group">
                <label asp-for="MaPhongHocGiangDuongHoiTruong" class="control-label"></label>
                <input asp-for="MaPhongHocGiangDuongHoiTruong" class="form-control" />
                <span asp-validation-for="MaPhongHocGiangDuongHoiTruong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenPhongHocGiangDuongHoiTruong" class="control-label"></label>
                <input asp-for="TenPhongHocGiangDuongHoiTruong" class="form-control" />
                <span asp-validation-for="TenPhongHocGiangDuongHoiTruong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienTich" class="control-label"></label>
                <input asp-for="DienTich" class="form-control" />
                <span asp-validation-for="DienTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHinhThucSoHuu" class="control-label"></label>
                <select asp-for="IdHinhThucSoHuu" class="form-control" asp-items="ViewBag.IdHinhThucSoHuu"></select>
                <span asp-validation-for="IdHinhThucSoHuu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuyMoChoNgoi" class="control-label"></label>
                <input asp-for="QuyMoChoNgoi" class="form-control" />
                <span asp-validation-for="QuyMoChoNgoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTinhTrangCoSoVatChat" class="control-label"></label>
                <select asp-for="IdTinhTrangCoSoVatChat" class="form-control" asp-items="ViewBag.IdTinhTrangCoSoVatChat"></select>
                <span asp-validation-for="IdTinhTrangCoSoVatChat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPhanLoaiCsvc" class="control-label"></label>
                <select asp-for="IdPhanLoaiCsvc" class="form-control" asp-items="ViewBag.IdPhanLoaiCsvc"></select>
                <span asp-validation-for="IdPhanLoaiCsvc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLoaiPhongHoc" class="control-label"></label>
                <select asp-for="IdLoaiPhongHoc" class="form-control" asp-items="ViewBag.IdLoaiPhongHoc"></select>
                <span asp-validation-for="IdLoaiPhongHoc" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="IdLoaiDeAn" class="control-label"></label>
                    <select asp-for="IdLoaiDeAn" class="form-control" asp-items="ViewBag.IdLoaiDeAn"></select>
                    <span asp-validation-for="IdLoaiDeAn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NamDuaVaoSuDung" class="control-label"></label>
                    <input asp-for="NamDuaVaoSuDung" class="form-control" />
                    <span asp-validation-for="NamDuaVaoSuDung" class="text-danger"></span>
                </div>
                <div class="form-button">
                    <input type="submit" value="Lưu" class="button" />
                </div>
            </form>
        </div>
        <div class="back">
            <a asp-action="Index">Trở lại</a>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}