@model C500Hemis.Models.TbNhiemVuKhcn

@{
    ViewData["Title"] = "Tạo mới nhiệm vụ";
}
@section Heads {
    <meta charset="utf-8" />
    <meta name="viewport" content="width:device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <style>
        /*Định dạng cho tiêu đề h1*/
        h1 {
            font-family: "Pridi", serif; /*Phông chữ*/
            font-weight: 700; /*Độ dày chữ */
            font-style: normal; /*Kiểu chữ*/
            text-align: center; /*Nội dung nằm giữa */
            color: forestgreen; /*Màu chữ*/
        }

        /*Định dạng cho tiêu đề h3*/
        h3 {
            font-family: "Pridi", serif; /*Phông chữ*/
            font-weight: 700; /*Độ dày chữ */
            font-style: normal; /*Kiểu chữ*/
            text-align: center; /*Nội dung nằm giữa */
        }

        /*Định dạng cho khối row*/
        .row {
            background-color: WHITE; /*Màu nền khối row */
            justify-content: center; /*Căn chỉnh nằm giữa theo chiều ngang*/
            align-items: center; /*Căn chỉnh nằm giữa theo chiều dọc*/
            padding: 20px; /*Khoảng cách nội dung với khối*/
            font-family: "Pridi", serif; /*Phông chữ*/
            font-weight: 700; /*Độ dày chữ */
            font-style: normal; /*Kiểu chữ*/
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6); /*Đổ bóng cho khối row*/
            border-radius: 20px; /*Bo viền cho khối row*/
        }

        /*Định dạng chuyển màu khi nhấn nút Trở về */
        .button_a_back:hover {
            background-color: grey; /*Đổi màu nên nút sang xám khi di chuyển chuột vào*/
            color: white; /*Đổi màu chữ nút sang trắng khi di chuyển chuột vào*/
        }

        /*Định dạng chuyển màu khi nhấn nút Cập nhật */
        .button_a_add:hover {
            background-color: forestgreen; /*Đổi màu nên nút sang xám khi di chuyển chuột vào*/
            color: white; /*Đổi màu chữ nút sang trắng khi di chuyển chuột vào*/
        }


        /* Định dạng cho nút bấm*/
        .button_a_back, .button_a_add {
            border-style: solid; /*Định dạng nét liền cho nút bấm */
            border-width: 1px; /*Định dạng độ to nhỏ viền nút bấm */
            text-align: center; /*Định dạng văn bản nhập ở giữa*/
            padding: 10px 30px; /*Căn chỉnh lề cho văn bản trong nút bấm */
            font-size: 15px; /*Định dạng cỡ chữ */
            text-decoration: none; /*Định dạng không trang trí cho chữ đặc biệt là chữ có gắn link*/
            border-radius: 35px; /*Định dạng bo viền table */
            color: black; /*Định dạng màu chữ*/
            font-family: "Pridi", serif;
            font-weight: 600;
            font-weight: bold;
            font-style: normal;
            width: 50%;
            margin: 2px; /* Khoảng cách giữa các nút */
            background-color: white;
        }

        /*Định dạng cho khối back*/
        .back {
            width: 100%;
            display: flex;
            justify-content: center; /* Canh giữa các nút trong div */
            align-items: center;
        }

        body {
            background-color: rgba(230,241,216,0.9);
        }
    </style>
}



<body>
    <div class="row">

        <h1> <i class="fa fa-plus"></i> TẠO MỚI</h1>
        <h3>HỒ SƠ NHIỆM VỤ KHOA HỌC CÔNG NGHỆ</h3>
        <p style="text-align: center;">
            <img src="https://upload.wikimedia.org/wikipedia/vi/8/85/Logo_hoc_vien_ANND.png" alt="Học viện An ninh nhân dân">
        </p>
        <hr />

        <div class="col-md-11">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div
                    <div class="form-group">
                        <label asp-for="IdNhiemVuKhcn" class="control-label"></label>
                        <input asp-for="IdNhiemVuKhcn" class="form-control" />
                        <span asp-validation-for="IdNhiemVuKhcn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaNhiemVu" class="control-label"></label>
                        <input asp-for="MaNhiemVu" class="form-control" />
                        <span asp-validation-for="MaNhiemVu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenNhiemVu" class="control-label"></label>
                        <input asp-for="TenNhiemVu" class="form-control" />
                        <span asp-validation-for="TenNhiemVu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdCapQuanLyNhiemVu" class="control-label"></label>
                        <select asp-for="IdCapQuanLyNhiemVu" class="form-control" asp-items="ViewBag.IdCapQuanLyNhiemVu"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdCoQuanChuQuan" class="control-label"></label>
                        <select asp-for="IdCoQuanChuQuan" class="form-control" asp-items="ViewBag.IdCoQuanChuQuan"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CoQuanChuTri" class="control-label"></label>
                        <input asp-for="CoQuanChuTri" class="form-control" />
                        <span asp-validation-for="CoQuanChuTri" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NguoiChuTri" class="control-label"></label>
                        <input asp-for="NguoiChuTri" class="form-control" />
                        <span asp-validation-for="NguoiChuTri" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdPhanLoaiNhiemVu" class="control-label"></label>
                        <select asp-for="IdPhanLoaiNhiemVu" class="form-control" asp-items="ViewBag.IdPhanLoaiNhiemVu"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThuocNhiemVu" class="control-label"></label>
                        <input asp-for="ThuocNhiemVu" class="form-control" />
                        <span asp-validation-for="ThuocNhiemVu" class="text-danger"></span>
                    </div>

                </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IdLinhVucNghienCuu" class="control-label"></label>
                                <select asp-for="IdLinhVucNghienCuu" class="form-control" asp-items="ViewBag.IdLinhVucNghienCuu"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="TongKinhPhiCuaNhiemVu" class="control-label"></label>
                                <input asp-for="TongKinhPhiCuaNhiemVu" class="form-control" />
                                <span asp-validation-for="TongKinhPhiCuaNhiemVu" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdNguonKinhPhi" class="control-label"></label>
                                <select asp-for="IdNguonKinhPhi" class="form-control" asp-items="ViewBag.IdNguonKinhPhi"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ThoiGianBatDau" class="control-label"></label>
                                <input asp-for="ThoiGianBatDau" class="form-control" />
                                <span asp-validation-for="ThoiGianBatDau" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ThoiGianKetThuc" class="control-label"></label>
                                <input asp-for="ThoiGianKetThuc" class="form-control" />
                                <span asp-validation-for="ThoiGianKetThuc" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DanhGiaKetQuaNhiemVu" class="control-label"></label>
                                <input asp-for="DanhGiaKetQuaNhiemVu" class="form-control" />
                                <span asp-validation-for="DanhGiaKetQuaNhiemVu" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SanPhamChinhCuaNhiemVu" class="control-label"></label>
                                <input asp-for="SanPhamChinhCuaNhiemVu" class="form-control" />
                                <span asp-validation-for="SanPhamChinhCuaNhiemVu" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdTinhTrangNhiemVu" class="control-label"></label>
                                <select asp-for="IdTinhTrangNhiemVu" class="form-control" asp-items="ViewBag.IdTinhTrangNhiemVu"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdTinhTrangNhiemVu" class="control-label"></label>
                                <select asp-for="IdTinhTrangNhiemVu" class="form-control" asp-items="ViewBag.IdTinhTrangNhiemVu"></select>
                            </div>

                        </div>
                        <br />
                        <div class="back">
                            <input type="hidden" asp-for="IdNhiemVuKhcn" />
                            <input type="submit" value="+ TẠO HỒ SƠ " class="button_a_add" />
                        </div> <br /> <br />

                        <div class="back">
                            <a class="button_a_back" asp-action="Index"><i class="fa fa-home"></i>TRỞ VỀ</a>
                        </div>
                    </div>


            </form>
        </div>
    </div>
</body>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}

