@model C500Hemis.Models.TbDonViCongTacCuaCanBo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbDonViCongTacCuaCanBo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDvct" />
            <div class="form-group">
                <label asp-for="IdCanBo" class="control-label"></label>
                <select asp-for="IdCanBo" class="form-control" asp-items="ViewBag.IdCanBo"></select>
                <span asp-validation-for="IdCanBo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaPhongBanDonVi" class="control-label"></label>
                <input asp-for="MaPhongBanDonVi" class="form-control" />
                <span asp-validation-for="MaPhongBanDonVi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdChucVu" class="control-label"></label>
                <select asp-for="IdChucVu" class="form-control" asp-items="ViewBag.IdChucVu"></select>
                <span asp-validation-for="IdChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHinhThucBoNhiem" class="control-label"></label>
                <select asp-for="IdHinhThucBoNhiem" class="form-control" asp-items="ViewBag.IdHinhThucBoNhiem"></select>
                <span asp-validation-for="IdHinhThucBoNhiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoQuyetDinh" class="control-label"></label>
                <input asp-for="SoQuyetDinh" class="form-control" />
                <span asp-validation-for="SoQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayQuyetDinh" class="control-label"></label>
                <input asp-for="NgayQuyetDinh" class="form-control" />
                <span asp-validation-for="NgayQuyetDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaDonViChinh" class="control-label"></label>
                <input asp-for="LaDonViChinh" class="form-control" />
                <span asp-validation-for="LaDonViChinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaDonViGiangDay" class="control-label"></label>
                <input asp-for="LaDonViGiangDay" class="form-control" />
                <span asp-validation-for="LaDonViGiangDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianCoHieuLuc" class="control-label"></label>
                <input asp-for="ThoiGianCoHieuLuc" class="form-control" />
                <span asp-validation-for="ThoiGianCoHieuLuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianHetHieuLuc" class="control-label"></label>
                <input asp-for="ThoiGianHetHieuLuc" class="form-control" />
                <span asp-validation-for="ThoiGianHetHieuLuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
