@model C500Hemis.Models.TbGvduocCuDiDaoTao
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: rgba(173, 216, 230, 0.9);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .wrapper {
            background: rgba(255, 255, 255, 0.9);
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            color: black;
            padding: 30px 40px;
        }

        .form-group {
            padding-bottom: 30px;
        }

        .form-control {
            padding: 10px;
            background: rgba(255, 255, 255, 0.8);
            height: 50px;
            border: 1px solid #ddd;
            border-radius: 20px;
            outline: none;
            transition: .2s ease;
        }

        .row {
            background: transparent;
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            padding: 30px 30px;
        }

        label {
            display: flex;
            font-size: 30px;
            font-weight: 500;
            padding-bottom: 20px;
        }

        #main-text {
            text-align: center;
            font-family: Raleway;
            font-size: 45px;
            font-weight: 600;
        }

        .button:hover {
            transform: translateY(-3px);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        }

        .button:active {
            transform: translateY(1px);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }

        .button {
            display: inline-block;
            padding: 15px 30px;
            font-size: 1.2em;
            color: white;
            text-decoration: none;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
            margin: 10px;
        }

        .create {
            background: linear-gradient(45deg, #4A90E2, #6AB7FF);
        }

        .edit {
            background: linear-gradient(45deg, #FFA500, #FFCA28);
        }

        .form-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .main-function {
            background: transparent;
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: black;
            margin-bottom: 10px;
        }

        .back {
            text-align: left;
            font-size: 30px;
            font-weight: 300;
        }

        #main-text-2 {
            text-align: center;
            font-size: 70px;
            font-weight: 600;
            font-family: Raleway;
        }

        .column {
            flex: 1;
            margin: 10px;
            padding: 20px;
            text-align: center;
        }

        .container {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            max-width: 95%;
            margin: auto;
            background-color: rgba(240, 255, 240, 0.3);
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="main-function">
            <h1 id="main-text">THÊM THÔNG TIN</h1>
        </div>
        <div class="row">
            <h1 id="main-text-2">GV được Cử đi Đào tạo</h1>
            <hr>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="container">
                    <div class="column">
                        <div class="form-group">
                            <label asp-for="IdGvduocCuDiDaoTao" class="control-label">Giảng Viên Được Cử Đi Đào Tạo</label>
                            <input asp-for="IdGvduocCuDiDaoTao" class="form-control" />
                            <span asp-validation-for="IdGvduocCuDiDaoTao" class="text-danger"></span>
                        </div>
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
                        <div class="form-group">
                            <label asp-for="IdCanBo" class="control-label">Cán Bộ</label>
                            <select asp-for="IdCanBo" class="form-control" asp-items="ViewBag.IdCanBo"></select>
                            @Html.ValidationMessageFor(model => model.IdCanBo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label asp-for="IdHinhThucThamGiaGvduocCuDiDaoTao" class="control-label">Hình Thức Tham Gia Giáo Viên Được Cử Đi Đào Tạo</label>
                            <select asp-for="IdHinhThucThamGiaGvduocCuDiDaoTao" class="form-control" asp-items="ViewBag.IdHinhThucThamGiaGvduocCuDiDaoTao"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdQuocGiaDen" class="control-label">Quốc Gia Đến</label>
                            <select asp-for="IdQuocGiaDen" class="form-control" asp-items="ViewBag.IdQuocGiaDen"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="TenCoSoGiaoDucThamGiaOnn" class="control-label">Tên Cơ Sở Giáo Dục Tham Gia Ôn</label>
                            <input asp-for="TenCoSoGiaoDucThamGiaOnn" class="form-control" />
                            <span asp-validation-for="TenCoSoGiaoDucThamGiaOnn" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="form-group">
                            <label asp-for="ThoiGianBatDau" class="control-label">Thời Gian Bắt Đầu</label>
                            <input asp-for="ThoiGianBatDau" class="form-control" />
                            <span asp-validation-for="ThoiGianBatDau" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ThoiGianKetThuc" class="control-label">Thời Gian Kết Thúc</label>
                            <input asp-for="ThoiGianKetThuc" class="form-control" />
                            <span asp-validation-for="ThoiGianKetThuc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdTinhTrangGvduocCuDiDaoTao" class="control-label">Tình Trạng Giáo Viên Được Cử Đi Đào Tạo</label>
                            <select asp-for="IdTinhTrangGvduocCuDiDaoTao" class="form-control" asp-items="ViewBag.IdTinhTrangGvduocCuDiDaoTao"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdNguonKinhPhiCuaGv" class="control-label">Nguồn Kinh Phí Của Giáo Viên</label>
                            <select asp-for="IdNguonKinhPhiCuaGv" class="form-control" asp-items="ViewBag.IdNguonKinhPhiCuaGv"></select>
                        </div>
                    </div>
                </div>
                <div class="form-button">
                    <input type="submit" value="Thêm mới" class="button create" />
                </div>
            </form>
        </div>
        <div class="button back edit">
            <a asp-action="Index">Trở lại</a>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

