@model C500Hemis.Models.TbGvduocCuDiDaoTao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbGvduocCuDiDaoTao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdGvduocCuDiDaoTao" class="control-label"></label>
                <input asp-for="IdGvduocCuDiDaoTao" class="form-control" />
                <span asp-validation-for="IdGvduocCuDiDaoTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCanBo" class="control-label"></label>
                <select asp-for="IdCanBo" class ="form-control" asp-items="ViewBag.IdCanBo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdHinhThucThamGiaGvduocCuDiDaoTao" class="control-label"></label>
                <select asp-for="IdHinhThucThamGiaGvduocCuDiDaoTao" class ="form-control" asp-items="ViewBag.IdHinhThucThamGiaGvduocCuDiDaoTao"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdQuocGiaDen" class="control-label"></label>
                <select asp-for="IdQuocGiaDen" class ="form-control" asp-items="ViewBag.IdQuocGiaDen"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenCoSoGiaoDucThamGiaOnn" class="control-label"></label>
                <input asp-for="TenCoSoGiaoDucThamGiaOnn" class="form-control" />
                <span asp-validation-for="TenCoSoGiaoDucThamGiaOnn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianBatDau" class="control-label"></label>
                <input asp-for="ThoiGianBatDau" class="form-control" />
                <span asp-validation-for="ThoiGianBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianKetThuc" class="control-label"></label>
                <input asp-for="ThoiGianKetThuc" class="form-control" />
                <span asp-validation-for="ThoiGianKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTinhTrangGvduocCuDiDaoTao" class="control-label"></label>
                <select asp-for="IdTinhTrangGvduocCuDiDaoTao" class ="form-control" asp-items="ViewBag.IdTinhTrangGvduocCuDiDaoTao"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdNguonKinhPhiCuaGv" class="control-label"></label>
                <select asp-for="IdNguonKinhPhiCuaGv" class ="form-control" asp-items="ViewBag.IdNguonKinhPhiCuaGv"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
