@model C500Hemis.Models.TbChuongTrinhDaoTao

@{
    ViewData["Title"] = "CẬP NHẬT CTĐT";
}

@section Styles {
    <style>

        /* Căn chỉnh khối chứa form bên trong */
        .web-form {
            display: flex; /* Các phần tử bên trong nằm trên một trục ngang từ trái qua phải */
            justify-content: center; /* Căn giữa các phần tử trên trục */
        }

        /* Định dạng cho khối form nhập thông tin */
        form {
            width: 60%;
            min-width: 600px;
        }

        /* Định dạng ô tiêu đề đầu tiên */
        .tieude{
            border-top: 15px solid #009879; /* Trùng màu viền bảng Index */
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #edf7f1;
            padding: 30px 30px 50px 30px;
            border-radius: 10px;
            box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
        }
                h1 {
                    font-size: 35px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    text-align: center;
                }
                h4 {
                    font-size: 18px;
                    font-style: italic;
                    margin-bottom: 10px;
                }

        /* Định dạng cho các ô nhập thông tin chính */
        .form-group {
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #edf7f1; /* Xanh lá nhạt */
            padding: 30px 30px 50px 30px;
            border-radius: 10px;
            box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
        }
                .form-group:hover {
                    border: 3px solid #34a853; /* Xanh lá */
                }
                label {
                    font-size: 1.2em;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 20px;
                }

        /* Tùy chỉnh hộp input và select */
        input.form-control, select.form-control {
            border: none; /* xóa viền mặc định */
            border-bottom: 4px solid #dfe1e5; /* đặt viền dưới xám nhạt trước khi hover hoặc focus */
            border-radius: 5px 5px 0px 0px;
            background-color: transparent; /* nền trong suốt */
            font-size: 16px;
            padding: 10px;
            transition: border-color 0.7s;
        }
                /* Hiệu ứng khi focus vào input và select */
                input.form-control:focus, select.form-control:focus {
                    border-color: #34a853; /* VIền dưới có màu xanh lá */
                    outline: none;
                    box-shadow: none;
                }

        /* Phần cuối: khối chứa 2 button */
        .combo-button {
            display: flex; /* Đặt 2 button trên 1 trục ngang từ trái sang phải */
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
        }

                /* Định dạng button "xác nhận đăng kí" */
                .button-submit {
                    background-color: #edf7f1; /* Màu xanh lá nhạt */
                    border-radius: 10px;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: background-color color 0.3s;
                    border: none;
                    width: 50%;
                    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
                    padding: 15px;
                    margin-right: 10px;
                    }
                        .button-submit:hover {
                           background-color: #34a853; /* Màu xanh đậm hơn khi hover */
                           color: white;
                           font-style: italic;
                        }

                /* Định dang button "quay lại danh sách" */
                .button-back {
                    background-color: #edf7f1; /* Màu xanh lá cây nhạt */
                    font-size: 20px;
                    font-weight: bold;
                    color: black;
                    border-radius: 10px;
                    text-decoration: none;
                    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
                    transition: background-color 0.3s ease, transform 0.3s ease;
                    text-align: center;
                    width: 50%;
                    padding: 15px;
                }
                        .button-back:hover {
                            background-color: #009879; /* màu xanh đậm, trùng màu cột tiêu đề */
                            color: white;
                            font-style: italic;
                        }

        /* Text-danger (cảnh báo lỗi) */
        .text-danger {
            color: #d93025;
            font-size: 12px;
        }

        /* Chỉnh hiệu ứng thông báo lỗi */
        label.error {
            color: red; /* Đổi màu chữ thành màu đỏ */
            font-size: 1em;
            font-weight: bold;
            font-style: italic;
            margin-top: 5px; /* Thêm khoảng cách phía trên cho thông báo lỗi */
            display: block; /* Hiển thị thông báo trên dòng mới */
        }

        /* chỉnh hiệu ứng cho các trường nhập khi có lỗi */
        input.error, select.error, textarea.error {
            border: 1px solid red; /* Viền đỏ cho các trường có lỗi */
            background-color: #ffe6e6; /* Màu nền nhạt để làm nổi bật */
        }
    </style>
}

<div class="row">
    <div class="web-form">
        <form asp-action="Edit">

            <!-- Phần tiêu đề -->
            <div class="tieude">
                <h1>CẬP NHẬT CHƯƠNG TRÌNH ĐÀO TẠO</h1>
                <hr /> <!---->             
                <h4>Lưu ý: Nhật dữ liệu chính xác để cập nhật chương trình đào tạo hiện tại, nên nhập đầy đủ thông tin, không khuyến khích bỏ trống !!!</h4>
                <hr />
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdChuongTrinhDaoTao" />

            <!-- Mã chương trình đào tạo -->
            <div class="form-group">
                <label asp-for="MaChuongTrinhDaoTao" class="control-label"></label>
                <input asp-for="MaChuongTrinhDaoTao" class="form-control" placeholder="Ví dụ: K48.7340301" />
                <span asp-validation-for="MaChuongTrinhDaoTao" class="text-danger"></span>
            </div>

            <!-- Ngành đào tạo -->
            <div class="form-group">
                <label asp-for="IdNganhDaoTao" class="control-label"></label>
                <select asp-for="IdNganhDaoTao" class="form-control" asp-items="ViewBag.IdNganhDaoTao"></select>
                <span asp-validation-for="IdNganhDaoTao" class="text-danger"></span>
            </div>
           
            <!-- Tên chương trình đào tạo -->
            <div class="form-group">
                <label asp-for="TenChuongTrinh" class="control-label"></label>
                <input asp-for="TenChuongTrinh" class="form-control" placeholder="Ví dụ: Kế toán" />
                <span asp-validation-for="TenChuongTrinh" class="text-danger"></span>
            </div>

            <!-- Tên chương trình bằng tiếng Anh -->
            <div class="form-group">
                <label asp-for="TenChuongTrinhBangTiengAnh" class="control-label"></label>
                <input asp-for="TenChuongTrinhBangTiengAnh" class="form-control" />
                <span asp-validation-for="TenChuongTrinhBangTiengAnh" class="text-danger"></span>
            </div>

            <!-- Năm bắt đầu tuyển sinh -->
            <div class="form-group">
                <label asp-for="NamBatDauTuyenSinh" class="control-label"></label>
                <input asp-for="NamBatDauTuyenSinh" class="form-control" />
                <span asp-validation-for="NamBatDauTuyenSinh" class="text-danger"></span>
            </div>

            <!-- Tên cơ sở đào tạo nước ngoài -->
            <div class="form-group">
                <label asp-for="TenCoSoDaoTaoNuocNgoai" class="control-label"></label>
                <input asp-for="TenCoSoDaoTaoNuocNgoai" class="form-control" />
                <span asp-validation-for="TenCoSoDaoTaoNuocNgoai" class="text-danger"></span>
            </div>

            <!-- Hình thức đào tạo -->
            <div class="form-group">
                <label asp-for="IdLoaiChuongTrinhDaoTao" class="control-label"></label>
                <select asp-for="IdLoaiChuongTrinhDaoTao" class="form-control" asp-items="ViewBag.IdLoaiChuongTrinhDaoTao"></select>
                <span asp-validation-for="IdLoaiChuongTrinhDaoTao" class="text-danger"></span>
            </div>

            <!-- Loại chương trình liên kết đào tạo -->
            <div class="form-group">
                <label asp-for="IdLoaiChuongTrinhLienKetDaoTao" class="control-label"></label>
                <select asp-for="IdLoaiChuongTrinhLienKetDaoTao" class="form-control" asp-items="ViewBag.IdLoaiChuongTrinhLienKetDaoTao"></select>
                <span asp-validation-for="IdLoaiChuongTrinhLienKetDaoTao" class="text-danger"></span>
            </div>

            <!-- Địa điểm đào tạo -->
            <div class="form-group">
                <label asp-for="DiaDiemDaoTao" class="control-label"></label>
                <input asp-for="DiaDiemDaoTao" class="form-control" />
                <span asp-validation-for="DiaDiemDaoTao" class="text-danger"></span>
            </div>

            <!-- Học chế đào tạo -->
            <div class="form-group">
                <label asp-for="IdHocCheDaoTao" class="control-label"></label>
                <select asp-for="IdHocCheDaoTao" class="form-control" asp-items="ViewBag.IdHocCheDaoTao"></select>
                <span asp-validation-for="IdHocCheDaoTao" class="text-danger"></span>
            </div>

            <!-- Quốc gia trụ sở chính -->
            <div class="form-group">
                <label asp-for="IdQuocGiaCuaTruSoChinh" class="control-label"></label>
                <select asp-for="IdQuocGiaCuaTruSoChinh" class="form-control" asp-items="ViewBag.IdQuocGiaCuaTruSoChinh"></select>
                <span asp-validation-for="IdQuocGiaCuaTruSoChinh" class="text-danger"></span>
            </div>

            <!-- Ngày ban hành chuẩn đầu ra -->
            <div class="form-group">
                <label asp-for="NgayBanHanhChuanDauRa" class="control-label"></label>
                <input asp-for="NgayBanHanhChuanDauRa" class="form-control" />
                <span asp-validation-for="NgayBanHanhChuanDauRa" class="text-danger"></span>
            </div>

            <!-- Trình độ đào tạo -->
            <div class="form-group">
                <label asp-for="IdTrinhDoDaoTao" class="control-label"></label>
                <select asp-for="IdTrinhDoDaoTao" class="form-control" asp-items="ViewBag.IdTrinhDoDaoTao"></select>
                <span asp-validation-for="IdTrinhDoDaoTao" class="text-danger"></span>
            </div>

            <!-- Thời gian đào tạo chuẩn -->
            <div class="form-group">
                <label asp-for="ThoiGianDaoTaoChuan" class="control-label">Thời gian đào tạo chuẩn (tháng)</label>
                <input asp-for="ThoiGianDaoTaoChuan" class="form-control" />
                <span asp-validation-for="ThoiGianDaoTaoChuan" class="text-danger"></span>
            </div>

            <!-- Chuẩn đầu ra -->
            <div class="form-group">
                <label asp-for="ChuanDauRa" class="control-label"></label>
                <input asp-for="ChuanDauRa" class="form-control" />
                <span asp-validation-for="ChuanDauRa" class="text-danger"></span>
            </div>

            <!-- Đơn vị cấp bằng -->
            <div class="form-group">
                <label asp-for="IdDonViCapBang" class="control-label"></label>
                <select asp-for="IdDonViCapBang" class="form-control" asp-items="ViewBag.IdDonViCapBang"></select>
                <span asp-validation-for="IdDonViCapBang" class="text-danger"></span>
            </div>

            <!-- Loại chứng chỉ được chấp thuận -->
            <div class="form-group">
                <label asp-for="LoaiChungChiDuocChapThuan" class="control-label"></label>
                <input asp-for="LoaiChungChiDuocChapThuan" class="form-control" />
                <span asp-validation-for="LoaiChungChiDuocChapThuan" class="text-danger"></span>
            </div>

            <!-- Đơn vị thực hiện chương trình đào tạo -->
            <div class="form-group">
                <label asp-for="DonViThucHienChuongTrinh" class="control-label"></label>
                <input asp-for="DonViThucHienChuongTrinh" class="form-control" />
                <span asp-validation-for="DonViThucHienChuongTrinh" class="text-danger"></span>
            </div>

            <!-- Trạng thái của chương trình đào tạo -->
            <div class="form-group">
                <label asp-for="IdTrangThaiCuaChuongTrinh" class="control-label"></label>
                <select asp-for="IdTrangThaiCuaChuongTrinh" class="form-control" asp-items="ViewBag.IdTrangThaiCuaChuongTrinh"></select>
                <span asp-validation-for="IdTrangThaiCuaChuongTrinh" class="text-danger"></span>
            </div>

            <!-- Chuẩn đầu ra về ngoại ngữ -->
            <div class="form-group">
                <label asp-for="ChuanDauRaVeNgoaiNgu" class="control-label"></label>
                <input asp-for="ChuanDauRaVeNgoaiNgu" class="form-control" />
                <span asp-validation-for="ChuanDauRaVeNgoaiNgu" class="text-danger"></span>
            </div>

            <!-- Chuẩn đầu ra về tin học -->
            <div class="form-group">
                <label asp-for="ChuanDauRaVeTinHoc" class="control-label"></label>
                <input asp-for="ChuanDauRaVeTinHoc" class="form-control" />
                <span asp-validation-for="ChuanDauRaVeTinHoc" class="text-danger"></span>
            </div>

            <!-- Học phí tại Việt Nam -->
            <div class="form-group">
                <label asp-for="HocPhiTaiVietNam" class="control-label"></label>
                <input asp-for="HocPhiTaiVietNam" class="form-control" />
                <span asp-validation-for="HocPhiTaiVietNam" class="text-danger"></span>
            </div>

            <!-- Học phí tại nước ngoài -->
            <div class="form-group">
                <label asp-for="HocPhiTaiNuocNgoai" class="control-label"></label>
                <input asp-for="HocPhiTaiNuocNgoai" class="form-control" />
                <span asp-validation-for="HocPhiTaiNuocNgoai" class="text-danger"></span>
            </div>

            <!-- Phần cuối trang, nhóm các button -->
            <div class="combo-button">
                <input type="submit" value="XÁC NHẬN CẬP NHẬT" class="button-submit" />

                <a class="button-back" asp-action="Index">QUAY LẠI DANH SÁCH</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <!-- Code dùng để nhập dữ liệu tìm kiếm các thông tin trong box (do quá nhiều) -->
    <script>
        // Lấy tất cả các phần tử `<select>` trong trang và lưu vào mảng `select`
        var select = document.querySelectorAll("select");
        // Tạo một đối tượng `data` để lưu trữ thông tin các tùy chọn (options) của từng `<select>`
        var data = {};

        // Vòng lặp qua từng `<select>` trong mảng `select`
        for (var i = 0; i < select.length; ++i) {
            // Ẩn `<select>` đi để chỉ hiển thị trường tìm kiếm
            select[i].hidden = true;

            // Tạo một đối tượng `cr` để lưu trữ các cặp giá trị (text - index) cho từng option
            let cr = {};
            // Khởi tạo một ID duy nhất cho mỗi `datalist` dựa trên chỉ số `i`
            let idlist = "datalist" + i.toString();

            // Tạo phần tử `<input>` để người dùng nhập tìm kiếm
            let input = document.createElement("input");
            // Tạo phần tử `<datalist>` để chứa các tùy chọn (sẽ thay thế `<select>`)
            let datalist = document.createElement("datalist");

            // Lấy tất cả các option từ `<select>` hiện tại
            let options = select[i].options;

            // Tạo phần tử `<span>` để hiển thị thông báo xác thực nếu có lỗi nhập
            let validate = document.createElement("span");

            // Thiết lập các thuộc tính và kiểu dáng cho `<input>`
            input.placeholder = "Nhập để tìm kiếm...";
            input.className = "form-control";
            input.setAttribute("list", idlist); // Liên kết `input` với `datalist` bằng ID
            input.setAttribute("selid", select[i].id); // Lưu ID của `<select>` trong `input` để tiện xử lý

            // Đặt giá trị mặc định cho `input` là tùy chọn được chọn hiện tại trong `<select>`
            input.value = select[i].options[select[i].selectedIndex].text;

            // Thêm sự kiện `change` để xử lý khi người dùng thay đổi giá trị trong `input`
            input.addEventListener("change", function (e) {
                // Lấy `selid` từ thuộc tính `selid` trong `input`
                let selid = e.target.getAttribute("selid");
                // Tìm phần tử `span` xác thực (validate) dựa trên `selid`
                let validate = document.getElementById("Validate_" + selid);

                // Kiểm tra xem giá trị nhập có nằm trong `data[selid]` hay không
                if (typeof data[selid][e.target.value] !== 'undefined') {
                    // Nếu có, cập nhật `<select>` để chọn đúng index tương ứng
                    document.getElementById(selid).selectedIndex = data[selid][e.target.value];
                    // Xóa thông báo lỗi nếu hợp lệ
                    validate.innerHTML = "";
                } else {
                    // Nếu không hợp lệ, hiển thị thông báo lỗi
                    validate.innerHTML = validate.getAttribute("msg");
                }
            });

            // Vòng lặp qua từng tùy chọn trong `<select>` và thêm chúng vào `datalist`
            for (var j = 0; j < options.length; ++j) {
                // Lưu trữ cặp giá trị (text - index) vào `cr` để tiện truy xuất
                cr[options[j].text] = j;
                // Tạo phần tử `<option>` cho `datalist`
                let option = document.createElement("option");
                option.value = options[j].text; // Đặt giá trị của option là text của tùy chọn
                datalist.appendChild(option); // Thêm option vào `datalist`
            }

            // Thiết lập ID cho `datalist` và thêm nó vào `data` theo ID của `<select>`
            datalist.id = idlist;
            data[select[i].id] = cr;

            // Thiết lập kiểu dáng và thuộc tính cho `validate`
            validate.className = "text-danger";
            validate.id = "Validate_" + select[i].id;
            validate.setAttribute("msg", "Không hợp lệ");

            // Thêm `input`, `datalist`, và `validate` ngay sau phần tử `<select>` trong DOM
            select[i].after(input, datalist, validate);
        }
    </script>

    <!-- Code bắt lỗi, hiển thị thông báo lỗi -->
    <script>
        $("form").validate({

            // Bắt lỗi
            rules: {

                MaChuongTrinhDaoTao: {
                    maxlength: 50, // giới hạn kí tự là 50
                },

                TenChuongTrinh: {
                    required: true, // lỗi bỏ trống
                    maxlength: 50, // giới hạn kí tự là 50
                },

                TenChuongTrinhBangTiengAnh: {
                    required: true, // lỗi bỏ trống
                    maxlength: 50, // giới hạn kí tự là 50
                }
            },

            // Thông báo lỗi
            messages: {

                MaChuongTrinhDaoTao: {
                    maxlength: "Mã chương trình đào tạo quá dài, mời bạn kiểm tra lại! (Không nên nhập quá {0} kí tự)",
                },

                TenChuongTrinh: {
                    required: "Một chương trình đào tạo phải có tên, xin đừng bỏ trống hoặc xóa thông tin này!",
                    maxlength: "Tên chương trình đào tạo quá dài, xin hãy kiểm tra lại hoặc viết tắt! (Dưới 50 kí tự)"
                },

                TenChuongTrinhBangTiengAnh: {
                    required: "Một chương trình đào tạo phải có tên, xin đừng bỏ trống hoặc xóa thông tin này!",
                    maxlength: "Tên chương trình đào tạo quá dài, xin hãy kiểm tra lại hoặc viết tắt! (Dưới 50 kí tự)"
                }
            }
        });
    </script>

    <!-- Một thông báo nhỏ -->
    <script>
        document.querySelector('.button-submit').addEventListener('click', function (event) {
            if (!confirm('Mời bạn kiểm tra kĩ lưỡng thông tin đã cập nhật, tránh nhầm lẫn sai sót. Chúc bạn một ngày tốt lành. Bấm xác nhận nếu bạn đã xong!!! (Nếu không quay về trang chính, hãy sửa lỗi theo yêu cầu)')) {
                event.preventDefault();
            }
        });
    </script>
}